
### Connecting ADLS Gen2 with Azure Databricks Notebook

In [0]:
'''
1. Created the App Registration in Azure Portal. 
2. Created the Secret under Certificate&Secrets for the App Registration that is created
3. In ADLS2, under IAM -> Added new Role Assignment and add the User that is created in the App Registration to establish the connectivity between ADLS and Azure Databricks. 
'''

storage_account = "dmgproductionadls2"                     # Storage account name
application_id = "7729fa92-7775-4604-9238-20b3d90fdecf"    # Application ID from App Registration
directory_id = "72a18fcd-e918-4ce9-aea4-0d2739f1bc60"      # Directory ID from App Registration

spark.conf.set(f"fs.azure.account.auth.type.{storage_account}.dfs.core.windows.net", "OAuth")
spark.conf.set(f"fs.azure.account.oauth.provider.type.{storage_account}.dfs.core.windows.net", "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set(f"fs.azure.account.oauth2.client.id.{storage_account}.dfs.core.windows.net", application_id)
spark.conf.set(f"fs.azure.account.oauth2.client.secret.{storage_account}.dfs.core.windows.net", "BtG8Q~xXGHe18fHgNtggNyDHcJuxSgOun1kagdBE")                # Value from App Registration -> Certification & Secrets
spark.conf.set(f"fs.azure.account.oauth2.client.endpoint.{storage_account}.dfs.core.windows.net", f"https://login.microsoftonline.com/{directory_id}/oauth2/token")


### Accessing the bronze layer and getting all the files names for further processing

In [0]:
#df=spark.read.parquet("abfss://bronze@dmgproductionadls2.dfs.core.windows.net/Production/Culture/Culture.parquet",header=True)

base_path = 'abfss://bronze@dmgproductionadls2.dfs.core.windows.net/Production/'
dbutils.fs.ls(base_path)
tables_list=[]
for table in dbutils.fs.ls(base_path):
    tables_list.append(table.name)
print(tables_list)

['BillOfMaterials/', 'Culture/', 'Illustration/', 'Location/', 'Product/', 'ProductCategory/', 'ProductCostHistory/', 'ProductDescription/', 'ProductInventory/', 'ProductListPriceHistory/', 'ProductModel/', 'ProductModelIllustration/', 'ProductModelProductDescriptionCulture/', 'ProductPhoto/', 'ProductProductPhoto/', 'ProductReview/', 'ProductSubcategory/', 'ScrapReason/', 'TransactionHistory/', 'TransactionHistoryArchive/', 'UnitMeasure/', 'WorkOrder/', 'WorkOrderRouting/']


### Reading the Bronze layer files into Spark dataframes dynamically

In [0]:
df={}
for table in tables_list:
    file_name=table.split("/")[0]
    file_df="df_"+file_name
    file_path = base_path+table+file_name+".parquet"
    df[file_df]=spark.read.parquet(file_path,header=True)
    print(f'The name of the dataframe is {file_df} and count is {df[file_df].count()}')
    print("The data is:\n",df[file_df].show(2))

The name of the dataframe is df_BillOfMaterials and count is 2679
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|BillOfMaterialsID|ProductAssemblyID|ComponentID|          StartDate|            EndDate|UnitMeasureCode|BOMLevel|PerAssemblyQty|       ModifiedDate|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|              893|             NULL|        749|2010-05-26 00:00:00|               NULL|            EA |       0|          1.00|2010-05-12 00:00:00|
|              271|             NULL|        750|2010-03-04 00:00:00|2010-05-03 00:00:00|            EA |       0|          1.00|2010-05-03 00:00:00|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Culture and count is 8
+---------+--------------------+-------------------+
|CultureID|                Name|       ModifiedDate|
+---------+--------------------+-------------------+
|         |Invariant Languag...|2008-04-30 00:00:00|
|   ar    |              Arabic|2008-04-30 00:00:00|
+---------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Illustration and count is 5
+--------------+--------------------+--------------------+
|IllustrationID|             Diagram|        ModifiedDate|
+--------------+--------------------+--------------------+
|             3|<!-- Generated by...|2014-01-09 13:06:...|
|             4|<!-- Generated by...|2014-01-09 13:06:...|
+--------------+--------------------+--------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Location and count is 14
+----------+-----------------+--------+------------+-------------------+
|LocationID|             Name|CostRate|Availability|       ModifiedDate|
+----------+-----------------+--------+------------+-------------------+
|         1|        Tool Crib|  0.0000|        0.00|2008-04-30 00:00:00|
|         2|Sheet Metal Racks|  0.0000|        0.00|2008-04-30 00:00:00|
+----------+-----------------+--------+------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Product and count is 504
+---------+---------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|           Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+---------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|Adjustable Race|      AR-5381|   false|            false| NULL|            1000|         750|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|694215b7-08f7-4c0...|2014-02-08 10:01:...|
|        2|   Bearing Ball|      BA-8327|   false|            false| NULL|            1000|         750|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|58ae3c20-4f3a-474...|2014-02-08 10:01:...|
+---------+---------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductCategory and count is 4
+-----------------+----------+--------------------+-------------------+
|ProductCategoryID|      Name|             rowguid|       ModifiedDate|
+-----------------+----------+--------------------+-------------------+
|                1|     Bikes|cfbda25c-df71-47a...|2008-04-30 00:00:00|
|                2|Components|c657828d-d808-4ab...|2008-04-30 00:00:00|
+-----------------+----------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductCostHistory and count is 395
+---------+-------------------+-------------------+------------+-------------------+
|ProductID|          StartDate|            EndDate|StandardCost|       ModifiedDate|
+---------+-------------------+-------------------+------------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|     12.0278|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|     13.8782|2013-05-29 00:00:00|
+---------+-------------------+-------------------+------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductDescription and count is 762
+--------------------+--------------------+--------------------+-------------------+
|ProductDescriptionID|         Description|             rowguid|       ModifiedDate|
+--------------------+--------------------+--------------------+-------------------+
|                   3|     Chromoly steel.|301eed3a-1a82-485...|2013-04-30 00:00:00|
|                   4|Aluminum alloy cu...|dfeba528-da11-465...|2013-04-30 00:00:00|
+--------------------+--------------------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductInventory and count is 1069
+---------+----------+-----+---+--------+--------------------+-------------------+
|ProductID|LocationID|Shelf|Bin|Quantity|             rowguid|       ModifiedDate|
+---------+----------+-----+---+--------+--------------------+-------------------+
|        1|         1|    A|  1|     408|47a24246-6c43-48e...|2014-08-08 00:00:00|
|        1|         6|    B|  5|     324|d4544d7d-caf5-46b...|2014-08-08 00:00:00|
+---------+----------+-----+---+--------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductListPriceHistory and count is 395
+---------+-------------------+-------------------+---------+-------------------+
|ProductID|          StartDate|            EndDate|ListPrice|       ModifiedDate|
+---------+-------------------+-------------------+---------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|  33.6442|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|  33.6442|2013-05-29 00:00:00|
+---------+-------------------+-------------------+---------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductModel and count is 128
+--------------+------------+------------------+------------+--------------------+-------------------+
|ProductModelID|        Name|CatalogDescription|Instructions|             rowguid|       ModifiedDate|
+--------------+------------+------------------+------------+--------------------+-------------------+
|             1|Classic Vest|              NULL|        NULL|29321d47-1e4c-4aa...|2013-04-30 00:00:00|
|             2| Cycling Cap|              NULL|        NULL|474fb654-3c96-4cb...|2011-05-01 00:00:00|
+--------------+------------+------------------+------------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductModelIllustration and count is 7
+--------------+--------------+--------------------+
|ProductModelID|IllustrationID|        ModifiedDate|
+--------------+--------------+--------------------+
|             7|             3|2014-01-09 14:41:...|
|            10|             3|2014-01-09 14:41:...|
+--------------+--------------+--------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductModelProductDescriptionCulture and count is 762
+--------------+--------------------+---------+-------------------+
|ProductModelID|ProductDescriptionID|CultureID|       ModifiedDate|
+--------------+--------------------+---------+-------------------+
|             1|                1199|   en    |2013-04-30 00:00:00|
|             1|                1467|   ar    |2013-04-30 00:00:00|
+--------------+--------------------+---------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductPhoto and count is 101
+--------------+--------------------+----------------------+--------------------+--------------------+-------------------+
|ProductPhotoID|      ThumbNailPhoto|ThumbnailPhotoFileName|          LargePhoto|  LargePhotoFileName|       ModifiedDate|
+--------------+--------------------+----------------------+--------------------+--------------------+-------------------+
|             1|[47 49 46 38 39 6...|  no_image_availabl...|[47 49 46 38 39 6...|no_image_availabl...|2008-04-30 00:00:00|
|            69|[47 49 46 38 39 6...|  racer02_black_f_s...|[47 49 46 38 39 6...|racer02_black_f_l...|2008-04-30 00:00:00|
+--------------+--------------------+----------------------+--------------------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductProductPhoto and count is 504
+---------+--------------+-------+-------------------+
|ProductID|ProductPhotoID|Primary|       ModifiedDate|
+---------+--------------+-------+-------------------+
|        1|             1|   true|2008-03-31 00:00:00|
|        2|             1|   true|2008-03-31 00:00:00|
+---------+--------------+-------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductReview and count is 4
+---------------+---------+------------+-------------------+--------------------+------+--------------------+-------------------+
|ProductReviewID|ProductID|ReviewerName|         ReviewDate|        EmailAddress|Rating|            Comments|       ModifiedDate|
+---------------+---------+------------+-------------------+--------------------+------+--------------------+-------------------+
|              1|      709|  John Smith|2013-09-18 00:00:00|john@fourthcoffee...|     5|I can't believe I...|2013-09-18 00:00:00|
|              2|      937|       David|2013-11-13 00:00:00|david@graphicdesi...|     4|A little on the h...|2013-11-13 00:00:00|
+---------------+---------+------------+-------------------+--------------------+------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ProductSubcategory and count is 37
+--------------------+-----------------+--------------+--------------------+-------------------+
|ProductSubcategoryID|ProductCategoryID|          Name|             rowguid|       ModifiedDate|
+--------------------+-----------------+--------------+--------------------+-------------------+
|                   1|                1|Mountain Bikes|2d364ade-264a-433...|2008-04-30 00:00:00|
|                   2|                1|    Road Bikes|000310c0-bcc8-42c...|2008-04-30 00:00:00|
+--------------------+-----------------+--------------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_ScrapReason and count is 16
+-------------+--------------------+-------------------+
|ScrapReasonID|                Name|       ModifiedDate|
+-------------+--------------------+-------------------+
|            1|Brake assembly no...|2008-04-30 00:00:00|
|            2|     Color incorrect|2008-04-30 00:00:00|
+-------------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_TransactionHistory and count is 113443
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
|TransactionID|ProductID|ReferenceOrderID|ReferenceOrderLineID|    TransactionDate|TransactionType|Quantity|ActualCost|       ModifiedDate|
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
|       100000|      784|           41590|                   0|2013-07-31 00:00:00|              W|       2|    0.0000|2013-07-31 00:00:00|
|       100001|      794|           41591|                   0|2013-07-31 00:00:00|              W|       1|    0.0000|2013-07-31 00:00:00|
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_TransactionHistoryArchive and count is 89253
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
|TransactionID|ProductID|ReferenceOrderID|ReferenceOrderLineID|    TransactionDate|TransactionType|Quantity|ActualCost|       ModifiedDate|
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
|            1|        1|               1|                   1|2011-04-16 00:00:00|              P|       4|   50.2600|2011-04-16 00:00:00|
|            2|      359|               2|                   1|2011-04-16 00:00:00|              P|       3|   45.1200|2011-04-16 00:00:00|
+-------------+---------+----------------+--------------------+-------------------+---------------+--------+----------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_UnitMeasure and count is 38
+---------------+------+-------------------+
|UnitMeasureCode|  Name|       ModifiedDate|
+---------------+------+-------------------+
|            BOX| Boxes|2008-04-30 00:00:00|
|            BTL|Bottle|2008-04-30 00:00:00|
+---------------+------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_WorkOrder and count is 72591
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|WorkOrderID|ProductID|OrderQty|StockedQty|ScrappedQty|          StartDate|            EndDate|            DueDate|ScrapReasonID|       ModifiedDate|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|          1|      722|       8|         8|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
|          2|      725|      15|        15|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_WorkOrderRouting and count is 67131
+-----------+---------+-----------------+----------+-------------------+-------------------+-------------------+-------------------+-----------------+-----------+----------+-------------------+
|WorkOrderID|ProductID|OperationSequence|LocationID| ScheduledStartDate|   ScheduledEndDate|    ActualStartDate|      ActualEndDate|ActualResourceHrs|PlannedCost|ActualCost|       ModifiedDate|
+-----------+---------+-----------------+----------+-------------------+-------------------+-------------------+-------------------+-----------------+-----------+----------+-------------------+
|         13|      747|                1|        10|2011-06-03 00:00:00|2011-06-14 00:00:00|2011-06-03 00:00:00|2011-06-19 00:00:00|           4.1000|    92.2500|   92.2500|2011-06-19 00:00:00|
|         13|      747|                2|        20|2011-06-03 00:00:00|2011-06-14 00:00:00|2011-06-03 00:00:00|2011-06-19 00:00:00|           3.5000|    87.5000|   87.5000|2011-06-19 00:00:00|
+-----------+---------+-----------------+----------+-------------------+-------------------+-------------------+-------------------+-----------------+-----------+----------+-------------------+
only showing top 2 rows

The data is:
 None


## Data Cleaning


#### Defining the function to check null values

In [0]:
from pyspark.sql.functions import col, count, when

def check_nulls(df, df_name):
    # Initialize an empty list to store the count expressions
    counts = []
    
    # Iterate over each column and apply the count condition
    for c in df.columns:
        counts.append(count(when(col(c).isNull(), 1)).alias(c))
    
    # Apply select with the count expressions
    null_counts_df = df.select(*counts)
    
    # Collect results as a dictionary
    null_counts = null_counts_df.collect()[0].asDict()
   
    # Check if any column has nulls
    if any(value > 0 for value in null_counts.values()):
        print(f"!!!!! Null values detected in {df_name}!!!!!")
        print(null_counts)
    else:
        print(f"<<OK>> No nulls found in {df_name} <<OK>>")

In [0]:
for table in df.keys():
    print("\nThe  table is  :", table)
    print("The count of df:",df[table].count())
    check_nulls(df[table],table)

The  table is  : df_BillOfMaterials
The count of df: 2679
!!!!! Null values detected in df_BillOfMaterials!!!!!
{'BillOfMaterialsID': 0, 'ProductAssemblyID': 103, 'ComponentID': 0, 'StartDate': 0, 'EndDate': 2480, 'UnitMeasureCode': 0, 'BOMLevel': 0, 'PerAssemblyQty': 0, 'ModifiedDate': 0}

The  table is  : df_Culture
The count of df: 8
<<OK>> No nulls found in df_Culture <<OK>>

The  table is  : df_Illustration
The count of df: 5
<<OK>> No nulls found in df_Illustration <<OK>>

The  table is  : df_Location
The count of df: 14
<<OK>> No nulls found in df_Location <<OK>>

The  table is  : df_Product
The count of df: 504
!!!!! Null values detected in df_Product!!!!!
{'ProductID': 0, 'Name': 0, 'ProductNumber': 0, 'MakeFlag': 0, 'FinishedGoodsFlag': 0, 'Color': 248, 'SafetyStockLevel': 0, 'ReorderPoint': 0, 'StandardCost': 0, 'ListPrice': 0, 'Size': 293, 'SizeUnitMeasureCode': 328, 'WeightUnitMeasureCode': 299, 'Weight': 299, 'DaysToManufacture': 0, 'ProductLine': 226, 'Class': 257, 'Style': 293, 'ProductSubcategoryID': 209, 'ProductModelID': 209, 'SellStartDate': 0, 'SellEndDate': 406, 'DiscontinuedDate': 504, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_ProductCategory
The count of df: 4
<<OK>> No nulls found in df_ProductCategory <<OK>>

The  table is  : df_ProductCostHistory
The count of df: 395
!!!!! Null values detected in df_ProductCostHistory!!!!!
{'ProductID': 0, 'StartDate': 0, 'EndDate': 195, 'StandardCost': 0, 'ModifiedDate': 0}

The  table is  : df_ProductDescription
The count of df: 762
<<OK>> No nulls found in df_ProductDescription <<OK>>

The  table is  : df_ProductInventory
The count of df: 1069
<<OK>> No nulls found in df_ProductInventory <<OK>>

The  table is  : df_ProductListPriceHistory
The count of df: 395
!!!!! Null values detected in df_ProductListPriceHistory!!!!!
{'ProductID': 0, 'StartDate': 0, 'EndDate': 195, 'ListPrice': 0, 'ModifiedDate': 0}

The  table is  : df_ProductModel
The count of df: 128
!!!!! Null values detected in df_ProductModel!!!!!
{'ProductModelID': 0, 'Name': 0, 'CatalogDescription': 122, 'Instructions': 119, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_ProductModelIllustration
The count of df: 7
<<OK>> No nulls found in df_ProductModelIllustration <<OK>>

The  table is  : df_ProductModelProductDescriptionCulture
The count of df: 762
<<OK>> No nulls found in df_ProductModelProductDescriptionCulture <<OK>>

The  table is  : df_ProductPhoto
The count of df: 101
<<OK>> No nulls found in df_ProductPhoto <<OK>>

The  table is  : df_ProductProductPhoto
The count of df: 504
<<OK>> No nulls found in df_ProductProductPhoto <<OK>>

The  table is  : df_ProductReview
The count of df: 4
<<OK>> No nulls found in df_ProductReview <<OK>>

The  table is  : df_ProductSubcategory
The count of df: 37
<<OK>> No nulls found in df_ProductSubcategory <<OK>>

The  table is  : df_ScrapReason
The count of df: 16
<<OK>> No nulls found in df_ScrapReason <<OK>>

The  table is  : df_TransactionHistory
The count of df: 113443
<<OK>> No nulls found in df_TransactionHistory <<OK>>

The  table is  : df_TransactionHistoryArchive
The count of df: 89253
<<OK>> No nulls found in df_TransactionHistoryArchive <<OK>>

The  table is  : df_UnitMeasure
The count of df: 38
<<OK>> No nulls found in df_UnitMeasure <<OK>>

The  table is  : df_WorkOrder
The count of df: 72591
!!!!! Null values detected in df_WorkOrder!!!!!
{'WorkOrderID': 0, 'ProductID': 0, 'OrderQty': 0, 'StockedQty': 0, 'ScrappedQty': 0, 'StartDate': 0, 'EndDate': 0, 'DueDate': 0, 'ScrapReasonID': 71862, 'ModifiedDate': 0}

The  table is  : df_WorkOrderRouting
The count of df: 67131
<<OK>> No nulls found in df_WorkOrderRouting <<OK>>


So from the above cell, it is clear that most of the dataframes are without null values, however below have null values. Lets review them if data needs imputed. 

- df_BillOfMaterials 
- df_Product 
- df_ProductCostHistory 
- df_ProductListPriceHistory 
- df_ProductModel 
- df_WorkOrder

In [0]:
# Fixing the null values in the table df_BillOfMaterials
from pyspark.sql.functions import col, when, add_months

# display Original dataframe
print("The Original table is  :")
df['df_BillOfMaterials'].show(5)

# Update EndDate where it's NULL as 2 monthsr from the StartDate. 
df['df_BillOfMaterials'] = df['df_BillOfMaterials'].withColumn("EndDate", when(col("EndDate").isNull(), add_months(col("StartDate"), 2)).otherwise(col("EndDate")))
# Update ProductAssemblyID where its null as 0 . 
df['df_BillOfMaterials'] = df['df_BillOfMaterials'].withColumn("ProductAssemblyID", when(col("ProductAssemblyID").isNull(), 0).otherwise(col("ProductAssemblyID")))

# Show updated DataFrame
print("The Updated table is  :")
df['df_BillOfMaterials'].show(5)

# Validating the null values
check_nulls(df['df_BillOfMaterials'], 'df_BillOfMaterials')

The Original table is  :
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|BillOfMaterialsID|ProductAssemblyID|ComponentID|          StartDate|            EndDate|UnitMeasureCode|BOMLevel|PerAssemblyQty|       ModifiedDate|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|              893|             NULL|        749|2010-05-26 00:00:00|               NULL|            EA |       0|          1.00|2010-05-12 00:00:00|
|              271|             NULL|        750|2010-03-04 00:00:00|2010-05-03 00:00:00|            EA |       0|          1.00|2010-05-03 00:00:00|
|               34|             NULL|        750|2010-05-04 00:00:00|               NULL|            EA |       0|          1.00|2010-04-20 00:00:00|
|              830|             NULL|        751|2010-05-26 00:00:00|               NULL|            EA |       0|          1.00|2010-05-12 00:00:00|
|             2074|             NULL|        752|2010-07-08 00:00:00|               NULL|            EA |       0|          1.00|2010-06-24 00:00:00|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
only showing top 5 rows

The Updated table is  :
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|BillOfMaterialsID|ProductAssemblyID|ComponentID|          StartDate|            EndDate|UnitMeasureCode|BOMLevel|PerAssemblyQty|       ModifiedDate|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
|              893|                0|        749|2010-05-26 00:00:00|2010-07-26 00:00:00|            EA |       0|          1.00|2010-05-12 00:00:00|
|              271|                0|        750|2010-03-04 00:00:00|2010-05-03 00:00:00|            EA |       0|          1.00|2010-05-03 00:00:00|
|               34|                0|        750|2010-05-04 00:00:00|2010-07-04 00:00:00|            EA |       0|          1.00|2010-04-20 00:00:00|
|              830|                0|        751|2010-05-26 00:00:00|2010-07-26 00:00:00|            EA |       0|          1.00|2010-05-12 00:00:00|
|             2074|                0|        752|2010-07-08 00:00:00|2010-09-08 00:00:00|            EA |       0|          1.00|2010-06-24 00:00:00|
+-----------------+-----------------+-----------+-------------------+-------------------+---------------+--------+--------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_BillOfMaterials <<OK>>

In [0]:
from pyspark.sql.functions import date_add

In [0]:
from pyspark.sql.functions import col, when, avg,date_add

# Show original DataFrame
print("The Original table is  :")
df['df_Product'].show(5)

# Update "SizeUnitMeasureCode" as "CM" as all values are "CM"
df['df_Product'] = df['df_Product'].withColumn("SizeUnitMeasureCode",when((col("SizeUnitMeasureCode").isNull()), "CM ").otherwise(col("SizeUnitMeasureCode")))

# Update "WeightUnitMeasureCode" as "LB" as all values are either "LB" or "G".
df['df_Product'] = df['df_Product'].withColumn("WeightUnitMeasureCode",when((col("WeightUnitMeasureCode").isNull()), "LB ").otherwise(col("WeightUnitMeasureCode")))

# Compute the mean of "Size"
size_mean = round((df['df_Product'].select(avg(col("Size"))).collect()[0][0]),)
# Update "Size" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("Size", when(col("Size").isNull(), size_mean).otherwise(col("Size")))

# Compute the mean of "Weight"
Weight_mean = df['df_Product'].select(avg(col("Weight"))).collect()[0][0]
# Update "Weight" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("Weight", when(col("Weight").isNull(), size_mean).otherwise(col("Weight")))

# Update "Color" as "No color" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("Color",when(col("Color").isNull(),"No Color").otherwise(col("Color")))

# Update "ProductLine" as "No ProductLine" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("ProductLine",when(col("ProductLine").isNull(),"No ProductLine").otherwise(col("ProductLine")))

# Update "Class" as "Not Available" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("Class",when(col("Class").isNull(),"Not Available").otherwise(col("Class")))

# Update "Style" as "Not Available" where it's NULL
df['df_Product'] = df['df_Product'].withColumn("Style",when(col("Style").isNull(),"Not Available").otherwise(col("Style")))

# Update "ProductSubcategoryID" as 0 where it's NULL
df['df_Product'] = df['df_Product'].withColumn("ProductSubcategoryID",when(col("ProductSubcategoryID").isNull(),0).otherwise(col("ProductSubcategoryID")))

# Update "ProductModelID" as 0 where it's NULL
df['df_Product'] = df['df_Product'].withColumn("ProductModelID",when(col("ProductModelID").isNull(),0).otherwise(col("ProductModelID")))

# Update "SellEndDate" as 1 year from SellStartDate
df['df_Product'] = df['df_Product'].withColumn("SellEndDate",when(col("SellEndDate").isNull(),date_add(col("SellStartDate"),365)).otherwise(col("SellEndDate")))

# Update "DiscontinuedDate" as "9999-12-31" as all the values are Null. 
df['df_Product'] = df['df_Product'].withColumn("DiscontinuedDate",when(col("DiscontinuedDate").isNull(),"9999-12-31").otherwise(col("DiscontinuedDate")))

# Show Updated DataFrame
print("The Updated table is  :")
df['df_Product'].show(5)

check_nulls(df['df_Product'],'df_Product')

The Original table is  :
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|   false|            false| NULL|            1000|         750|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|694215b7-08f7-4c0...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|   false|            false| NULL|            1000|         750|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|58ae3c20-4f3a-474...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|    true|            false| NULL|             800|         600|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|9c21aed2-5bfa-4f1...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|   false|            false| NULL|             800|         600|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|ecfed6cb-51ff-49b...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|    true|            false| NULL|             800|         600|      0.0000|   0.0000|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|e73e9750-603b-413...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 5 rows

The Updated table is  :
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|   Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|   ProductLine|        Class|        Style|ProductSubcategoryID|ProductModelID|      SellStartDate|        SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|   false|            false|No Color|            1000|         750|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|2008-04-30 00:00:00|2009-04-30 00:00:00|      9999-12-31|694215b7-08f7-4c0...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|   false|            false|No Color|            1000|         750|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|2008-04-30 00:00:00|2009-04-30 00:00:00|      9999-12-31|58ae3c20-4f3a-474...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|    true|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                1|No ProductLine|Not Available|Not Available|                   0|             0|2008-04-30 00:00:00|2009-04-30 00:00:00|      9999-12-31|9c21aed2-5bfa-4f1...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|   false|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|2008-04-30 00:00:00|2009-04-30 00:00:00|      9999-12-31|ecfed6cb-51ff-49b...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|    true|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                1|No ProductLine|Not Available|Not Available|                   0|             0|2008-04-30 00:00:00|2009-04-30 00:00:00|      9999-12-31|e73e9750-603b-413...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
only showing top 5 rows

<<OK>> No nulls found in df_Product <<OK>>

In [0]:
# Fixing the null values in the table df_ProductCostHistory

# Show Original DataFrame
print("The Original table is  :")
df['df_ProductCostHistory'].show(5)

df['df_ProductCostHistory']=df['df_ProductCostHistory'].withColumn("EndDate",when(col("EndDate").isNull(),date_add(col("StartDate"),365)).otherwise(col("EndDate")))

# Show Updated DataFrame
print("The Updated table is  :")
df['df_ProductCostHistory'].show(5)

check_nulls(df['df_ProductCostHistory'],'df_ProductCostHistory')

The Original table is  :
+---------+-------------------+-------------------+------------+-------------------+
|ProductID|          StartDate|            EndDate|StandardCost|       ModifiedDate|
+---------+-------------------+-------------------+------------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|     12.0278|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|     13.8782|2013-05-29 00:00:00|
|      707|2013-05-30 00:00:00|               NULL|     13.0863|2013-05-16 00:00:00|
|      708|2011-05-31 00:00:00|2012-05-29 00:00:00|     12.0278|2012-05-29 00:00:00|
|      708|2012-05-30 00:00:00|2013-05-29 00:00:00|     13.8782|2013-05-29 00:00:00|
+---------+-------------------+-------------------+------------+-------------------+
only showing top 5 rows

The Updated table is  :
+---------+-------------------+-------------------+------------+-------------------+
|ProductID|          StartDate|            EndDate|StandardCost|       ModifiedDate|
+---------+-------------------+-------------------+------------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|     12.0278|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|     13.8782|2013-05-29 00:00:00|
|      707|2013-05-30 00:00:00|2014-05-30 00:00:00|     13.0863|2013-05-16 00:00:00|
|      708|2011-05-31 00:00:00|2012-05-29 00:00:00|     12.0278|2012-05-29 00:00:00|
|      708|2012-05-30 00:00:00|2013-05-29 00:00:00|     13.8782|2013-05-29 00:00:00|
+---------+-------------------+-------------------+------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_ProductCostHistory <<OK>>

In [0]:
# Fixing the null values in the table df_ProductListPriceHistory

# display Original dataframe
print("The Original table is  :")
df['df_ProductListPriceHistory'].show(5)

from pyspark.sql.functions import col, when, date_add

# Update EndDate where it's NULL as 1 year from the StartDate. 
df['df_ProductListPriceHistory'] = df['df_ProductListPriceHistory'].withColumn("EndDate", when(col("EndDate").isNull(), date_add(col("StartDate"), 365)).otherwise(col("EndDate")))

# display updated DataFrame
print("The corrected table is :")
df['df_ProductListPriceHistory'].show(5)

# Validating the null values
check_nulls(df['df_ProductListPriceHistory'],'df_ProductListPriceHistory')

The Original table is  :
+---------+-------------------+-------------------+---------+-------------------+
|ProductID|          StartDate|            EndDate|ListPrice|       ModifiedDate|
+---------+-------------------+-------------------+---------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|  33.6442|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|  33.6442|2013-05-29 00:00:00|
|      707|2013-05-30 00:00:00|               NULL|  34.9900|2013-05-09 00:00:00|
|      708|2011-05-31 00:00:00|2012-05-29 00:00:00|  33.6442|2012-05-29 00:00:00|
|      708|2012-05-30 00:00:00|2013-05-29 00:00:00|  33.6442|2013-05-29 00:00:00|
+---------+-------------------+-------------------+---------+-------------------+
only showing top 5 rows

The corrected table is :
+---------+-------------------+-------------------+---------+-------------------+
|ProductID|          StartDate|            EndDate|ListPrice|       ModifiedDate|
+---------+-------------------+-------------------+---------+-------------------+
|      707|2011-05-31 00:00:00|2012-05-29 00:00:00|  33.6442|2012-05-29 00:00:00|
|      707|2012-05-30 00:00:00|2013-05-29 00:00:00|  33.6442|2013-05-29 00:00:00|
|      707|2013-05-30 00:00:00|2014-05-30 00:00:00|  34.9900|2013-05-09 00:00:00|
|      708|2011-05-31 00:00:00|2012-05-29 00:00:00|  33.6442|2012-05-29 00:00:00|
|      708|2012-05-30 00:00:00|2013-05-29 00:00:00|  33.6442|2013-05-29 00:00:00|
+---------+-------------------+-------------------+---------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_ProductListPriceHistory <<OK>>

In [0]:
# Fixing the null values in the table df_ProductModel

# display Original DataFrame
print("The Original table is :")
df['df_ProductModel'].show(5)

df['df_ProductModel']=df['df_ProductModel'].withColumn("CatalogDescription",when(col("CatalogDescription").isNull(),"No Description").otherwise(col("CatalogDescription")))
df['df_ProductModel']=df['df_ProductModel'].withColumn("Instructions",when(col("Instructions").isNull(),"No Instructions").otherwise(col("Instructions")))

# display updated DataFrame
print("The corrected table is :")
df['df_ProductModel'].show(5)

# Validating the null values
check_nulls(df['df_ProductModel'],'df_ProductModel')

The Original table is :
+--------------+------------------+------------------+------------+--------------------+-------------------+
|ProductModelID|              Name|CatalogDescription|Instructions|             rowguid|       ModifiedDate|
+--------------+------------------+------------------+------------+--------------------+-------------------+
|             1|      Classic Vest|              NULL|        NULL|29321d47-1e4c-4aa...|2013-04-30 00:00:00|
|             2|       Cycling Cap|              NULL|        NULL|474fb654-3c96-4cb...|2011-05-01 00:00:00|
|             3|Full-Finger Gloves|              NULL|        NULL|a75483fe-3c47-4aa...|2012-04-30 00:00:00|
|             4|Half-Finger Gloves|              NULL|        NULL|14b56f2a-d4aa-40a...|2012-04-30 00:00:00|
|             5| HL Mountain Frame|              NULL|        NULL|fdd5407b-c2db-49d...|2011-05-01 00:00:00|
+--------------+------------------+------------------+------------+--------------------+-------------------+
only showing top 5 rows

The corrected table is :
+--------------+------------------+------------------+---------------+--------------------+-------------------+
|ProductModelID|              Name|CatalogDescription|   Instructions|             rowguid|       ModifiedDate|
+--------------+------------------+------------------+---------------+--------------------+-------------------+
|             1|      Classic Vest|    No Description|No Instructions|29321d47-1e4c-4aa...|2013-04-30 00:00:00|
|             2|       Cycling Cap|    No Description|No Instructions|474fb654-3c96-4cb...|2011-05-01 00:00:00|
|             3|Full-Finger Gloves|    No Description|No Instructions|a75483fe-3c47-4aa...|2012-04-30 00:00:00|
|             4|Half-Finger Gloves|    No Description|No Instructions|14b56f2a-d4aa-40a...|2012-04-30 00:00:00|
|             5| HL Mountain Frame|    No Description|No Instructions|fdd5407b-c2db-49d...|2011-05-01 00:00:00|
+--------------+------------------+------------------+---------------+--------------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_ProductModel <<OK>>

In [0]:
# Fixing the null values in the table df_WorkOrder

# display Original DataFrame
print("The Original table is :")
df['df_WorkOrder'].show(5)

df['df_WorkOrder']=df['df_WorkOrder'].withColumn("ScrapReasonID",when(col("ScrapReasonID").isNull(),00).otherwise(col("ScrapReasonID")))

# display updated DataFrame
print("The corrected table is :")
df['df_WorkOrder'].show(5)

# Validating the null values
check_nulls(df['df_WorkOrder'],'df_WorkOrder')

The Original table is :
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|WorkOrderID|ProductID|OrderQty|StockedQty|ScrappedQty|          StartDate|            EndDate|            DueDate|ScrapReasonID|       ModifiedDate|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|          1|      722|       8|         8|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
|          2|      725|      15|        15|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
|          3|      726|       9|         9|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
|          4|      729|      16|        16|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
|          5|      730|      14|        14|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|         NULL|2011-06-13 00:00:00|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
only showing top 5 rows

The corrected table is :
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|WorkOrderID|ProductID|OrderQty|StockedQty|ScrappedQty|          StartDate|            EndDate|            DueDate|ScrapReasonID|       ModifiedDate|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
|          1|      722|       8|         8|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|            0|2011-06-13 00:00:00|
|          2|      725|      15|        15|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|            0|2011-06-13 00:00:00|
|          3|      726|       9|         9|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|            0|2011-06-13 00:00:00|
|          4|      729|      16|        16|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|            0|2011-06-13 00:00:00|
|          5|      730|      14|        14|          0|2011-06-03 00:00:00|2011-06-13 00:00:00|2011-06-14 00:00:00|            0|2011-06-13 00:00:00|
+-----------+---------+--------+----------+-----------+-------------------+-------------------+-------------------+-------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_WorkOrder <<OK>>

In [0]:
for table in df.keys():
    print("\nThe  table is  :", table)
    print("The count of df:",df[table].count())
    check_nulls(df[table],table)

The  table is  : df_BillOfMaterials
The count of df: 2679
<<OK>> No nulls found in df_BillOfMaterials <<OK>>

The  table is  : df_Culture
The count of df: 8
<<OK>> No nulls found in df_Culture <<OK>>

The  table is  : df_Illustration
The count of df: 5
<<OK>> No nulls found in df_Illustration <<OK>>

The  table is  : df_Location
The count of df: 14
<<OK>> No nulls found in df_Location <<OK>>

The  table is  : df_Product
The count of df: 504
<<OK>> No nulls found in df_Product <<OK>>

The  table is  : df_ProductCategory
The count of df: 4
<<OK>> No nulls found in df_ProductCategory <<OK>>

The  table is  : df_ProductCostHistory
The count of df: 395
<<OK>> No nulls found in df_ProductCostHistory <<OK>>

The  table is  : df_ProductDescription
The count of df: 762
<<OK>> No nulls found in df_ProductDescription <<OK>>

The  table is  : df_ProductInventory
The count of df: 1069
<<OK>> No nulls found in df_ProductInventory <<OK>>

The  table is  : df_ProductListPriceHistory
The count of df: 395
<<OK>> No nulls found in df_ProductListPriceHistory <<OK>>

The  table is  : df_ProductModel
The count of df: 128
<<OK>> No nulls found in df_ProductModel <<OK>>

The  table is  : df_ProductModelIllustration
The count of df: 7
<<OK>> No nulls found in df_ProductModelIllustration <<OK>>

The  table is  : df_ProductModelProductDescriptionCulture
The count of df: 762
<<OK>> No nulls found in df_ProductModelProductDescriptionCulture <<OK>>

The  table is  : df_ProductPhoto
The count of df: 101
<<OK>> No nulls found in df_ProductPhoto <<OK>>

The  table is  : df_ProductProductPhoto
The count of df: 504
<<OK>> No nulls found in df_ProductProductPhoto <<OK>>

The  table is  : df_ProductReview
The count of df: 4
<<OK>> No nulls found in df_ProductReview <<OK>>

The  table is  : df_ProductSubcategory
The count of df: 37
<<OK>> No nulls found in df_ProductSubcategory <<OK>>

The  table is  : df_ScrapReason
The count of df: 16
<<OK>> No nulls found in df_ScrapReason <<OK>>

The  table is  : df_TransactionHistory
The count of df: 113443
<<OK>> No nulls found in df_TransactionHistory <<OK>>

The  table is  : df_TransactionHistoryArchive
The count of df: 89253
<<OK>> No nulls found in df_TransactionHistoryArchive <<OK>>

The  table is  : df_UnitMeasure
The count of df: 38
<<OK>> No nulls found in df_UnitMeasure <<OK>>

The  table is  : df_WorkOrder
The count of df: 72591
<<OK>> No nulls found in df_WorkOrder <<OK>>

The  table is  : df_WorkOrderRouting
The count of df: 67131
<<OK>> No nulls found in df_WorkOrderRouting <<OK>>


View table schema and then transform Timestamp datatype to Date in all tables since the time values in timestamp are zeros.

In [0]:
# Create the function to print the Schema. 
def print_schema(df, df_name):
    print("\nThe Schema of the table {} is :".format(df_name))
    df.printSchema()

In [0]:
# Displaying the schema of each tables to identify the timestamp column
for file in df.keys():
    print_schema(df[file],file)

The Schema of the table df_BillOfMaterials is :
root
 |-- BillOfMaterialsID: integer (nullable = true)
 |-- ProductAssemblyID: integer (nullable = true)
 |-- ComponentID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- UnitMeasureCode: string (nullable = true)
 |-- BOMLevel: integer (nullable = true)
 |-- PerAssemblyQty: decimal(8,2) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Culture is :
root
 |-- CultureID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Illustration is :
root
 |-- IllustrationID: integer (nullable = true)
 |-- Diagram: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Location is :
root
 |-- LocationID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CostRate: decimal(10,4) (nullable = true)
 |-- Availability: decimal(8,2) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Product is :
root
 |-- ProductID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- MakeFlag: boolean (nullable = true)
 |-- FinishedGoodsFlag: boolean (nullable = true)
 |-- Color: string (nullable = true)
 |-- SafetyStockLevel: integer (nullable = true)
 |-- ReorderPoint: integer (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- Size: string (nullable = true)
 |-- SizeUnitMeasureCode: string (nullable = true)
 |-- WeightUnitMeasureCode: string (nullable = true)
 |-- Weight: decimal(12,2) (nullable = true)
 |-- DaysToManufacture: integer (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductModelID: integer (nullable = true)
 |-- SellStartDate: timestamp (nullable = true)
 |-- SellEndDate: timestamp (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductCategory is :
root
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductCostHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductDescription is :
root
 |-- ProductDescriptionID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductInventory is :
root
 |-- ProductID: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- Shelf: string (nullable = true)
 |-- Bin: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductListPriceHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductModel is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CatalogDescription: string (nullable = true)
 |-- Instructions: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductModelIllustration is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- IllustrationID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductModelProductDescriptionCulture is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- ProductDescriptionID: integer (nullable = true)
 |-- CultureID: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductPhoto is :
root
 |-- ProductPhotoID: integer (nullable = true)
 |-- ThumbNailPhoto: binary (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- LargePhoto: binary (nullable = true)
 |-- LargePhotoFileName: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductProductPhoto is :
root
 |-- ProductID: integer (nullable = true)
 |-- ProductPhotoID: integer (nullable = true)
 |-- Primary: boolean (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductReview is :
root
 |-- ProductReviewID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReviewerName: string (nullable = true)
 |-- ReviewDate: timestamp (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Comments: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ProductSubcategory is :
root
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ScrapReason is :
root
 |-- ScrapReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_TransactionHistory is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_TransactionHistoryArchive is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_UnitMeasure is :
root
 |-- UnitMeasureCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_WorkOrder is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- StockedQty: integer (nullable = true)
 |-- ScrappedQty: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ScrapReasonID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_WorkOrderRouting is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OperationSequence: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- ScheduledStartDate: timestamp (nullable = true)
 |-- ScheduledEndDate: timestamp (nullable = true)
 |-- ActualStartDate: timestamp (nullable = true)
 |-- ActualEndDate: timestamp (nullable = true)
 |-- ActualResourceHrs: decimal(9,4) (nullable = true)
 |-- PlannedCost: decimal(19,4) (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [0]:
# Transforming the date columns to date format
from pyspark.sql.functions import to_date

for file in df.keys():
    print("\n",file," in Original Schema")
    print_schema(df[file],file)
    for col in df[file].dtypes:
        col_name = col[0]
        col_type = col[1]
        if 'date' in col_name or 'Date' in col_name:
            df[file] = df[file].withColumn(col_name, to_date(col_name, 'MM/dd/yyyy'))

    print("\n",file," in transformed Schema")
    print_schema(df[file],file)

 df_BillOfMaterials  in Original Schema

The Schema of the table df_BillOfMaterials is :
root
 |-- BillOfMaterialsID: integer (nullable = true)
 |-- ProductAssemblyID: integer (nullable = true)
 |-- ComponentID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- UnitMeasureCode: string (nullable = true)
 |-- BOMLevel: integer (nullable = true)
 |-- PerAssemblyQty: decimal(8,2) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_BillOfMaterials  in transformed Schema

The Schema of the table df_BillOfMaterials is :
root
 |-- BillOfMaterialsID: integer (nullable = true)
 |-- ProductAssemblyID: integer (nullable = true)
 |-- ComponentID: integer (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- UnitMeasureCode: string (nullable = true)
 |-- BOMLevel: integer (nullable = true)
 |-- PerAssemblyQty: decimal(8,2) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Culture  in Original Schema

The Schema of the table df_Culture is :
root
 |-- CultureID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Culture  in transformed Schema

The Schema of the table df_Culture is :
root
 |-- CultureID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Illustration  in Original Schema

The Schema of the table df_Illustration is :
root
 |-- IllustrationID: integer (nullable = true)
 |-- Diagram: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Illustration  in transformed Schema

The Schema of the table df_Illustration is :
root
 |-- IllustrationID: integer (nullable = true)
 |-- Diagram: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Location  in Original Schema

The Schema of the table df_Location is :
root
 |-- LocationID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CostRate: decimal(10,4) (nullable = true)
 |-- Availability: decimal(8,2) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Location  in transformed Schema

The Schema of the table df_Location is :
root
 |-- LocationID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CostRate: decimal(10,4) (nullable = true)
 |-- Availability: decimal(8,2) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Product  in Original Schema

The Schema of the table df_Product is :
root
 |-- ProductID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- MakeFlag: boolean (nullable = true)
 |-- FinishedGoodsFlag: boolean (nullable = true)
 |-- Color: string (nullable = true)
 |-- SafetyStockLevel: integer (nullable = true)
 |-- ReorderPoint: integer (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- Size: string (nullable = true)
 |-- SizeUnitMeasureCode: string (nullable = true)
 |-- WeightUnitMeasureCode: string (nullable = true)
 |-- Weight: decimal(12,2) (nullable = true)
 |-- DaysToManufacture: integer (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductModelID: integer (nullable = true)
 |-- SellStartDate: timestamp (nullable = true)
 |-- SellEndDate: timestamp (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Product  in transformed Schema

The Schema of the table df_Product is :
root
 |-- ProductID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- MakeFlag: boolean (nullable = true)
 |-- FinishedGoodsFlag: boolean (nullable = true)
 |-- Color: string (nullable = true)
 |-- SafetyStockLevel: integer (nullable = true)
 |-- ReorderPoint: integer (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- Size: string (nullable = true)
 |-- SizeUnitMeasureCode: string (nullable = true)
 |-- WeightUnitMeasureCode: string (nullable = true)
 |-- Weight: decimal(12,2) (nullable = true)
 |-- DaysToManufacture: integer (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductModelID: integer (nullable = true)
 |-- SellStartDate: date (nullable = true)
 |-- SellEndDate: date (nullable = true)
 |-- DiscontinuedDate: date (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductCategory  in Original Schema

The Schema of the table df_ProductCategory is :
root
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductCategory  in transformed Schema

The Schema of the table df_ProductCategory is :
root
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductCostHistory  in Original Schema

The Schema of the table df_ProductCostHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductCostHistory  in transformed Schema

The Schema of the table df_ProductCostHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductDescription  in Original Schema

The Schema of the table df_ProductDescription is :
root
 |-- ProductDescriptionID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductDescription  in transformed Schema

The Schema of the table df_ProductDescription is :
root
 |-- ProductDescriptionID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductInventory  in Original Schema

The Schema of the table df_ProductInventory is :
root
 |-- ProductID: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- Shelf: string (nullable = true)
 |-- Bin: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductInventory  in transformed Schema

The Schema of the table df_ProductInventory is :
root
 |-- ProductID: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- Shelf: string (nullable = true)
 |-- Bin: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductListPriceHistory  in Original Schema

The Schema of the table df_ProductListPriceHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductListPriceHistory  in transformed Schema

The Schema of the table df_ProductListPriceHistory is :
root
 |-- ProductID: integer (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductModel  in Original Schema

The Schema of the table df_ProductModel is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CatalogDescription: string (nullable = true)
 |-- Instructions: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductModel  in transformed Schema

The Schema of the table df_ProductModel is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CatalogDescription: string (nullable = true)
 |-- Instructions: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductModelIllustration  in Original Schema

The Schema of the table df_ProductModelIllustration is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- IllustrationID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductModelIllustration  in transformed Schema

The Schema of the table df_ProductModelIllustration is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- IllustrationID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductModelProductDescriptionCulture  in Original Schema

The Schema of the table df_ProductModelProductDescriptionCulture is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- ProductDescriptionID: integer (nullable = true)
 |-- CultureID: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductModelProductDescriptionCulture  in transformed Schema

The Schema of the table df_ProductModelProductDescriptionCulture is :
root
 |-- ProductModelID: integer (nullable = true)
 |-- ProductDescriptionID: integer (nullable = true)
 |-- CultureID: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductPhoto  in Original Schema

The Schema of the table df_ProductPhoto is :
root
 |-- ProductPhotoID: integer (nullable = true)
 |-- ThumbNailPhoto: binary (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- LargePhoto: binary (nullable = true)
 |-- LargePhotoFileName: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductPhoto  in transformed Schema

The Schema of the table df_ProductPhoto is :
root
 |-- ProductPhotoID: integer (nullable = true)
 |-- ThumbNailPhoto: binary (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- LargePhoto: binary (nullable = true)
 |-- LargePhotoFileName: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductProductPhoto  in Original Schema

The Schema of the table df_ProductProductPhoto is :
root
 |-- ProductID: integer (nullable = true)
 |-- ProductPhotoID: integer (nullable = true)
 |-- Primary: boolean (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductProductPhoto  in transformed Schema

The Schema of the table df_ProductProductPhoto is :
root
 |-- ProductID: integer (nullable = true)
 |-- ProductPhotoID: integer (nullable = true)
 |-- Primary: boolean (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductReview  in Original Schema

The Schema of the table df_ProductReview is :
root
 |-- ProductReviewID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReviewerName: string (nullable = true)
 |-- ReviewDate: timestamp (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Comments: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductReview  in transformed Schema

The Schema of the table df_ProductReview is :
root
 |-- ProductReviewID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReviewerName: string (nullable = true)
 |-- ReviewDate: date (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Comments: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ProductSubcategory  in Original Schema

The Schema of the table df_ProductSubcategory is :
root
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ProductSubcategory  in transformed Schema

The Schema of the table df_ProductSubcategory is :
root
 |-- ProductSubcategoryID: integer (nullable = true)
 |-- ProductCategoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ScrapReason  in Original Schema

The Schema of the table df_ScrapReason is :
root
 |-- ScrapReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ScrapReason  in transformed Schema

The Schema of the table df_ScrapReason is :
root
 |-- ScrapReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_TransactionHistory  in Original Schema

The Schema of the table df_TransactionHistory is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_TransactionHistory  in transformed Schema

The Schema of the table df_TransactionHistory is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: date (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_TransactionHistoryArchive  in Original Schema

The Schema of the table df_TransactionHistoryArchive is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_TransactionHistoryArchive  in transformed Schema

The Schema of the table df_TransactionHistoryArchive is :
root
 |-- TransactionID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- ReferenceOrderID: integer (nullable = true)
 |-- ReferenceOrderLineID: integer (nullable = true)
 |-- TransactionDate: date (nullable = true)
 |-- TransactionType: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_UnitMeasure  in Original Schema

The Schema of the table df_UnitMeasure is :
root
 |-- UnitMeasureCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_UnitMeasure  in transformed Schema

The Schema of the table df_UnitMeasure is :
root
 |-- UnitMeasureCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_WorkOrder  in Original Schema

The Schema of the table df_WorkOrder is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- StockedQty: integer (nullable = true)
 |-- ScrappedQty: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ScrapReasonID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_WorkOrder  in transformed Schema

The Schema of the table df_WorkOrder is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- StockedQty: integer (nullable = true)
 |-- ScrappedQty: integer (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- DueDate: date (nullable = true)
 |-- ScrapReasonID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_WorkOrderRouting  in Original Schema

The Schema of the table df_WorkOrderRouting is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OperationSequence: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- ScheduledStartDate: timestamp (nullable = true)
 |-- ScheduledEndDate: timestamp (nullable = true)
 |-- ActualStartDate: timestamp (nullable = true)
 |-- ActualEndDate: timestamp (nullable = true)
 |-- ActualResourceHrs: decimal(9,4) (nullable = true)
 |-- PlannedCost: decimal(19,4) (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_WorkOrderRouting  in transformed Schema

The Schema of the table df_WorkOrderRouting is :
root
 |-- WorkOrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OperationSequence: integer (nullable = true)
 |-- LocationID: integer (nullable = true)
 |-- ScheduledStartDate: date (nullable = true)
 |-- ScheduledEndDate: date (nullable = true)
 |-- ActualStartDate: date (nullable = true)
 |-- ActualEndDate: date (nullable = true)
 |-- ActualResourceHrs: decimal(9,4) (nullable = true)
 |-- PlannedCost: decimal(19,4) (nullable = true)
 |-- ActualCost: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)

In [0]:
# Displaying the data of each tables to identify the timestamp column changed to dates
for file in df.keys():
    df[file].show(5)

+-----------------+-----------------+-----------+----------+----------+---------------+--------+--------------+------------+
|BillOfMaterialsID|ProductAssemblyID|ComponentID| StartDate|   EndDate|UnitMeasureCode|BOMLevel|PerAssemblyQty|ModifiedDate|
+-----------------+-----------------+-----------+----------+----------+---------------+--------+--------------+------------+
|              893|                0|        749|2010-05-26|2010-07-26|            EA |       0|          1.00|  2010-05-12|
|              271|                0|        750|2010-03-04|2010-05-03|            EA |       0|          1.00|  2010-05-03|
|               34|                0|        750|2010-05-04|2010-07-04|            EA |       0|          1.00|  2010-04-20|
|              830|                0|        751|2010-05-26|2010-07-26|            EA |       0|          1.00|  2010-05-12|
|             2074|                0|        752|2010-07-08|2010-09-08|            EA |       0|          1.00|  2010-06-24|
+-----------------+-----------------+-----------+----------+----------+---------------+--------+--------------+------------+
only showing top 5 rows

+---------+--------------------+------------+
|CultureID|                Name|ModifiedDate|
+---------+--------------------+------------+
|         |Invariant Languag...|  2008-04-30|
|   ar    |              Arabic|  2008-04-30|
|   en    |             English|  2008-04-30|
|   es    |             Spanish|  2008-04-30|
|   fr    |              French|  2008-04-30|
+---------+--------------------+------------+
only showing top 5 rows

+--------------+--------------------+------------+
|IllustrationID|             Diagram|ModifiedDate|
+--------------+--------------------+------------+
|             3|<!-- Generated by...|  2014-01-09|
|             4|<!-- Generated by...|  2014-01-09|
|             5|<!-- Generated by...|  2014-01-09|
|             6|<!-- Generated by...|  2014-01-09|
|             7|<!-- Generated by...|  2014-01-09|
+--------------+--------------------+------------+

+----------+-----------------+--------+------------+------------+
|LocationID|             Name|CostRate|Availability|ModifiedDate|
+----------+-----------------+--------+------------+------------+
|         1|        Tool Crib|  0.0000|        0.00|  2008-04-30|
|         2|Sheet Metal Racks|  0.0000|        0.00|  2008-04-30|
|         3|       Paint Shop|  0.0000|        0.00|  2008-04-30|
|         4|    Paint Storage|  0.0000|        0.00|  2008-04-30|
|         5|    Metal Storage|  0.0000|        0.00|  2008-04-30|
+----------+-----------------+--------+------------+------------+
only showing top 5 rows

+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------+-----------+----------------+--------------------+------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|   Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|   ProductLine|        Class|        Style|ProductSubcategoryID|ProductModelID|SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------+-----------+----------------+--------------------+------------+
|        1|     Adjustable Race|      AR-5381|   false|            false|No Color|            1000|         750|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|   2008-04-30| 2009-04-30|            NULL|694215b7-08f7-4c0...|  2014-02-08|
|        2|        Bearing Ball|      BA-8327|   false|            false|No Color|            1000|         750|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|   2008-04-30| 2009-04-30|            NULL|58ae3c20-4f3a-474...|  2014-02-08|
|        3|     BB Ball Bearing|      BE-2349|    true|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                1|No ProductLine|Not Available|Not Available|                   0|             0|   2008-04-30| 2009-04-30|            NULL|9c21aed2-5bfa-4f1...|  2014-02-08|
|        4|Headset Ball Bear...|      BE-2908|   false|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                0|No ProductLine|Not Available|Not Available|                   0|             0|   2008-04-30| 2009-04-30|            NULL|ecfed6cb-51ff-49b...|  2014-02-08|
|      316|               Blade|      BL-2036|    true|            false|No Color|             800|         600|      0.0000|   0.0000|  49|                CM |                  LB | 49.00|                1|No ProductLine|Not Available|Not Available|                   0|             0|   2008-04-30| 2009-04-30|            NULL|e73e9750-603b-413...|  2014-02-08|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+--------------+-------------+-------------+--------------------+--------------+-------------+-----------+----------------+--------------------+------------+
only showing top 5 rows

+-----------------+-----------+--------------------+------------+
|ProductCategoryID|       Name|             rowguid|ModifiedDate|
+-----------------+-----------+--------------------+------------+
|                1|      Bikes|cfbda25c-df71-47a...|  2008-04-30|
|                2| Components|c657828d-d808-4ab...|  2008-04-30|
|                3|   Clothing|10a7c342-ca82-48d...|  2008-04-30|
|                4|Accessories|2be3be36-d9a2-4ee...|  2008-04-30|
+-----------------+-----------+--------------------+------------+

+---------+----------+----------+------------+------------+
|ProductID| StartDate|   EndDate|StandardCost|ModifiedDate|
+---------+----------+----------+------------+------------+
|      707|2011-05-31|2012-05-29|     12.0278|  2012-05-29|
|      707|2012-05-30|2013-05-29|     13.8782|  2013-05-29|
|      707|2013-05-30|2014-05-30|     13.0863|  2013-05-16|
|      708|2011-05-31|2012-05-29|     12.0278|  2012-05-29|
|      708|2012-05-30|2013-05-29|     13.8782|  2013-05-29|
+---------+----------+----------+------------+------------+
only showing top 5 rows

+--------------------+--------------------+--------------------+------------+
|ProductDescriptionID|         Description|             rowguid|ModifiedDate|
+--------------------+--------------------+--------------------+------------+
|                   3|     Chromoly steel.|301eed3a-1a82-485...|  2013-04-30|
|                   4|Aluminum alloy cu...|dfeba528-da11-465...|  2013-04-30|
|                   5|Aluminum alloy cu...|f7178da7-1a7e-499...|  2013-04-30|
|                   8|Suitable for any ...|8e6746e5-ad97-46e...|  2013-04-30|
|                  64|This bike deliver...|7b1c4e90-85e2-479...|  2013-04-30|
+--------------------+--------------------+--------------------+------------+
only showing top 5 rows

+---------+----------+-----+---+--------+--------------------+------------+
|ProductID|LocationID|Shelf|Bin|Quantity|             rowguid|ModifiedDate|
+---------+----------+-----+---+--------+--------------------+------------+
|        1|         1|    A|  1|     408|47a24246-6c43-48e...|  2014-08-08|
|        1|         6|    B|  5|     324|d4544d7d-caf5-46b...|  2014-08-08|
|        1|        50|    A|  5|     353|bff7dc60-96a8-43c...|  2014-08-08|
|        2|         1|    A|  2|     427|f407c07a-ca14-468...|  2014-08-08|
|        2|         6|    B|  1|     318|ca1ff2f4-48fb-496...|  2014-08-08|
+---------+----------+-----+---+--------+--------------------+------------+
only showing top 5 rows

+---------+----------+----------+---------+------------+
|ProductID| StartDate|   EndDate|ListPrice|ModifiedDate|
+---------+----------+----------+---------+------------+
|      707|2011-05-31|2012-05-29|  33.6442|  2012-05-29|
|      707|2012-05-30|2013-05-29|  33.6442|  2013-05-29|
|      707|2013-05-30|2014-05-30|  34.9900|  2013-05-09|
|      708|2011-05-31|2012-05-29|  33.6442|  2012-05-29|
|      708|2012-05-30|2013-05-29|  33.6442|  2013-05-29|
+---------+----------+----------+---------+------------+
only showing top 5 rows

+--------------+------------------+------------------+---------------+--------------------+------------+
|ProductModelID|              Name|CatalogDescription|   Instructions|             rowguid|ModifiedDate|
+--------------+------------------+------------------+---------------+--------------------+------------+
|             1|      Classic Vest|    No Description|No Instructions|29321d47-1e4c-4aa...|  2013-04-30|
|             2|       Cycling Cap|    No Description|No Instructions|474fb654-3c96-4cb...|  2011-05-01|
|             3|Full-Finger Gloves|    No Description|No Instructions|a75483fe-3c47-4aa...|  2012-04-30|
|             4|Half-Finger Gloves|    No Description|No Instructions|14b56f2a-d4aa-40a...|  2012-04-30|
|             5| HL Mountain Frame|    No Description|No Instructions|fdd5407b-c2db-49d...|  2011-05-01|
+--------------+------------------+------------------+---------------+--------------------+------------+
only showing top 5 rows

+--------------+--------------+------------+
|ProductModelID|IllustrationID|ModifiedDate|
+--------------+--------------+------------+
|             7|             3|  2014-01-09|
|            10|             3|  2014-01-09|
|            47|             4|  2014-01-09|
|            47|             5|  2014-01-09|
|            48|             4|  2014-01-09|
+--------------+--------------+------------+
only showing top 5 rows

+--------------+--------------------+---------+------------+
|ProductModelID|ProductDescriptionID|CultureID|ModifiedDate|
+--------------+--------------------+---------+------------+
|             1|                1199|   en    |  2013-04-30|
|             1|                1467|   ar    |  2013-04-30|
|             1|                1589|   fr    |  2013-04-30|
|             1|                1712|   th    |  2013-04-30|
|             1|                1838|   he    |  2013-04-30|
+--------------+--------------------+---------+------------+
only showing top 5 rows

+--------------+--------------------+----------------------+--------------------+--------------------+------------+
|ProductPhotoID|      ThumbNailPhoto|ThumbnailPhotoFileName|          LargePhoto|  LargePhotoFileName|ModifiedDate|
+--------------+--------------------+----------------------+--------------------+--------------------+------------+
|             1|[47 49 46 38 39 6...|  no_image_availabl...|[47 49 46 38 39 6...|no_image_availabl...|  2008-04-30|
|            69|[47 49 46 38 39 6...|  racer02_black_f_s...|[47 49 46 38 39 6...|racer02_black_f_l...|  2008-04-30|
|            70|[47 49 46 38 39 6...|  racer02_black_sma...|[47 49 46 38 39 6...|racer02_black_lar...|  2012-10-19|
|            72|[47 49 46 38 39 6...|  racer02_blue_f_sm...|[47 49 46 38 39 6...|racer02_blue_f_la...|  2012-10-19|
|            73|[47 49 46 38 39 6...|  racer02_blue_smal...|[47 49 46 38 39 6...|racer02_blue_larg...|  2012-10-19|
+--------------+--------------------+----------------------+--------------------+--------------------+------------+
only showing top 5 rows

+---------+--------------+-------+------------+
|ProductID|ProductPhotoID|Primary|ModifiedDate|
+---------+--------------+-------+------------+
|        1|             1|   true|  2008-03-31|
|        2|             1|   true|  2008-03-31|
|        3|             1|   true|  2008-03-31|
|        4|             1|   true|  2008-03-31|
|      316|             1|   true|  2008-03-31|
+---------+--------------+-------+------------+
only showing top 5 rows

+---------------+---------+------------+----------+--------------------+------+--------------------+------------+
|ProductReviewID|ProductID|ReviewerName|ReviewDate|        EmailAddress|Rating|            Comments|ModifiedDate|
+---------------+---------+------------+----------+--------------------+------+--------------------+------------+
|              1|      709|  John Smith|2013-09-18|john@fourthcoffee...|     5|I can't believe I...|  2013-09-18|
|              2|      937|       David|2013-11-13|david@graphicdesi...|     4|A little on the h...|  2013-11-13|
|              3|      937|        Jill|2013-11-15|jill@margiestrave...|     2|Maybe it's just b...|  2013-11-15|
|              4|      798|Laura Norman|2013-11-15|laura@treyresearc...|     5|The Road-550-W fr...|  2013-11-15|
+---------------+---------+------------+----------+--------------------+------+--------------------+------------+

+--------------------+-----------------+---------------+--------------------+------------+
|ProductSubcategoryID|ProductCategoryID|           Name|             rowguid|ModifiedDate|
+--------------------+-----------------+---------------+--------------------+------------+
|                   1|                1| Mountain Bikes|2d364ade-264a-433...|  2008-04-30|
|                   2|                1|     Road Bikes|000310c0-bcc8-42c...|  2008-04-30|
|                   3|                1|  Touring Bikes|02c5061d-ecdc-427...|  2008-04-30|
|                   4|                2|     Handlebars|3ef2c725-7135-4c8...|  2008-04-30|
|                   5|                2|Bottom Brackets|a9e54089-8a1e-4cf...|  2008-04-30|
+--------------------+-----------------+---------------+--------------------+------------+
only showing top 5 rows

+-------------+--------------------+------------+
|ScrapReasonID|                Name|ModifiedDate|
+-------------+--------------------+------------+
|            1|Brake assembly no...|  2008-04-30|
|            2|     Color incorrect|  2008-04-30|
|            3|      Gouge in metal|  2008-04-30|
|            4|Drill pattern inc...|  2008-04-30|
|            5|Drill size too large|  2008-04-30|
+-------------+--------------------+------------+
only showing top 5 rows

+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
|TransactionID|ProductID|ReferenceOrderID|ReferenceOrderLineID|TransactionDate|TransactionType|Quantity|ActualCost|ModifiedDate|
+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
|       100000|      784|           41590|                   0|     2013-07-31|              W|       2|    0.0000|  2013-07-31|
|       100001|      794|           41591|                   0|     2013-07-31|              W|       1|    0.0000|  2013-07-31|
|       100002|      797|           41592|                   0|     2013-07-31|              W|       1|    0.0000|  2013-07-31|
|       100003|      798|           41593|                   0|     2013-07-31|              W|       1|    0.0000|  2013-07-31|
|       100004|      799|           41594|                   0|     2013-07-31|              W|       1|    0.0000|  2013-07-31|
+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
only showing top 5 rows

+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
|TransactionID|ProductID|ReferenceOrderID|ReferenceOrderLineID|TransactionDate|TransactionType|Quantity|ActualCost|ModifiedDate|
+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
|            1|        1|               1|                   1|     2011-04-16|              P|       4|   50.2600|  2011-04-16|
|            2|      359|               2|                   1|     2011-04-16|              P|       3|   45.1200|  2011-04-16|
|            3|      360|               2|                   2|     2011-04-16|              P|       3|   45.5805|  2011-04-16|
|            4|      530|               3|                   1|     2011-04-16|              P|     550|   16.0860|  2011-04-16|
|            5|        4|               4|                   1|     2011-04-16|              P|       3|   57.0255|  2011-04-16|
+-------------+---------+----------------+--------------------+---------------+---------------+--------+----------+------------+
only showing top 5 rows

+---------------+--------+------------+
|UnitMeasureCode|    Name|ModifiedDate|
+---------------+--------+------------+
|            BOX|   Boxes|  2008-04-30|
|            BTL|  Bottle|  2008-04-30|
|            C  | Celsius|  2008-04-30|
|            CAN|Canister|  2008-04-30|
|            CAR|  Carton|  2008-04-30|
+---------------+--------+------------+
only showing top 5 rows

+-----------+---------+--------+----------+-----------+----------+----------+----------+-------------+------------+
|WorkOrderID|ProductID|OrderQty|StockedQty|ScrappedQty| StartDate|   EndDate|   DueDate|ScrapReasonID|ModifiedDate|
+-----------+---------+--------+----------+-----------+----------+----------+----------+-------------+------------+
|          1|      722|       8|         8|          0|2011-06-03|2011-06-13|2011-06-14|            0|  2011-06-13|
|          2|      725|      15|        15|          0|2011-06-03|2011-06-13|2011-06-14|            0|  2011-06-13|
|          3|      726|       9|         9|          0|2011-06-03|2011-06-13|2011-06-14|            0|  2011-06-13|
|          4|      729|      16|        16|          0|2011-06-03|2011-06-13|2011-06-14|            0|  2011-06-13|
|          5|      730|      14|        14|          0|2011-06-03|2011-06-13|2011-06-14|            0|  2011-06-13|
+-----------+---------+--------+----------+-----------+----------+----------+----------+-------------+------------+
only showing top 5 rows

+-----------+---------+-----------------+----------+------------------+----------------+---------------+-------------+-----------------+-----------+----------+------------+
|WorkOrderID|ProductID|OperationSequence|LocationID|ScheduledStartDate|ScheduledEndDate|ActualStartDate|ActualEndDate|ActualResourceHrs|PlannedCost|ActualCost|ModifiedDate|
+-----------+---------+-----------------+----------+------------------+----------------+---------------+-------------+-----------------+-----------+----------+------------+
|         13|      747|                1|        10|        2011-06-03|      2011-06-14|     2011-06-03|   2011-06-19|           4.1000|    92.2500|   92.2500|  2011-06-19|
|         13|      747|                2|        20|        2011-06-03|      2011-06-14|     2011-06-03|   2011-06-19|           3.5000|    87.5000|   87.5000|  2011-06-19|
|         13|      747|                3|        30|        2011-06-03|      2011-06-14|     2011-06-03|   2011-06-19|           1.0000|    14.5000|   14.5000|  2011-06-19|
|         13|      747|                4|        40|        2011-06-03|      2011-06-14|     2011-06-03|   2011-06-19|           2.0000|    31.5000|   31.5000|  2011-06-19|
|         13|      747|                6|        50|        2011-06-03|      2011-06-14|     2011-06-03|   2011-06-19|           3.0000|    36.7500|   36.7500|  2011-06-19|