In [0]:
'''
1. Created the App Registration in Azure Portal. 
2. Created the Secret under Certificate&Secrets for the App Registration that is created
3. In ADLS2, under IAM -> Added new Role Assignment and add the User that is created in the App Registration to establish the connectivity between ADLS and Azure Databricks. 
'''

storage_account = "dmgproductionadls2"                     # Storage account name
application_id = "7729fa92-7775-4604-9238-20b3d90fdecf"    # Application ID from App Registration
directory_id = "72a18fcd-e918-4ce9-aea4-0d2739f1bc60"      # Directory ID from App Registration

spark.conf.set(f"fs.azure.account.auth.type.{storage_account}.dfs.core.windows.net", "OAuth")
spark.conf.set(f"fs.azure.account.oauth.provider.type.{storage_account}.dfs.core.windows.net", "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set(f"fs.azure.account.oauth2.client.id.{storage_account}.dfs.core.windows.net", application_id)
spark.conf.set(f"fs.azure.account.oauth2.client.secret.{storage_account}.dfs.core.windows.net", "BtG8Q~xXGHe18fHgNtggNyDHcJuxSgOun1kagdBE")                # Value from App Registration -> Certification & Secrets
spark.conf.set(f"fs.azure.account.oauth2.client.endpoint.{storage_account}.dfs.core.windows.net", f"https://login.microsoftonline.com/{directory_id}/oauth2/token")

In [0]:
# Extracting the Silver layered table list
silver_base_path = 'abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/'
tables_list=[]

for file in dbutils.fs.ls(silver_base_path):
    tables_list.append(file.name.split("/")[0])

tables_list

['CountryRegionCurrency',
 'CreditCard',
 'Currency',
 'CurrencyRate',
 'Customer',
 'PersonCreditCard',
 'SalesOrderDetail',
 'SalesOrderHeader',
 'SalesOrderHeaderSalesReason',
 'SalesPerson',
 'SalesPersonQuotaHistory',
 'SalesReason',
 'SalesTaxRate',
 'SalesTerritory',
 'SalesTerritoryHistory',
 'ShoppingCartItem',
 'SpecialOffer',
 'SpecialOfferProduct',
 'Store']

In [0]:
#Reading the silver layered tables into spark dataframes.
df={}
for file in tables_list:
    file_path = silver_base_path+file+"/"
    df[file] = spark.read.format("parquet").load(file_path)

In [0]:
# Displaying the dataframes and schemas
for table in tables_list:
    print("The count of the table  :", table, "is :", df[table].count())
    print("The Schema of the table :", table, "is :", df[table].printSchema())
    print("The Data of the table   :", table, "is :\n", df[table].show(5))
    print("==========================================================================================================")
    print("==========================================================================================================")

The count of the table  : CountryRegionCurrency is : 109
root
 |-- CountryRegionCode: string (nullable = true)
 |-- CurrencyCode: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : CountryRegionCurrency is : None
+-----------------+------------+------------+
|CountryRegionCode|CurrencyCode|ModifiedDate|
+-----------------+------------+------------+
|               AE|         AED|  2014-02-08|
|               AR|         ARS|  2014-02-08|
|               AT|         ATS|  2014-02-08|
|               AT|         EUR|  2008-04-30|
|               AU|         AUD|  2014-02-08|
+-----------------+------------+------------+
only showing top 5 rows

The Data of the table   : CountryRegionCurrency is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : CreditCard is : 19118
root
 |-- CreditCardID: integer (nullable = true)
 |-- CardType: string (nullable = true)
 |-- CardNumber: string (nullable = true)
 |-- ExpMonth: integer (nullable = true)
 |-- ExpYear: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : CreditCard is : None
+------------+-------------+--------------+--------+-------+------------+
|CreditCardID|     CardType|    CardNumber|ExpMonth|ExpYear|ModifiedDate|
+------------+-------------+--------------+--------+-------+------------+
|           1| SuperiorCard|33332664695310|      11|   2006|  2013-07-29|
|           2|  Distinguish|55552127249722|       8|   2005|  2013-12-05|
|           3|ColonialVoice|77778344838353|       7|   2005|  2014-01-14|
|           4|ColonialVoice|77774915718248|       7|   2006|  2013-05-20|
|           5|        Vista|11114404600042|       4|   2005|  2013-02-01|
+------------+-------------+--------------+--------+-------+------------+
only showing top 5 rows

The Data of the table   : CreditCard is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : Currency is : 105
root
 |-- CurrencyCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : Currency is : None
+------------+--------------------+------------+
|CurrencyCode|                Name|ModifiedDate|
+------------+--------------------+------------+
|         AED|      Emirati Dirham|  2008-04-30|
|         AFA|             Afghani|  2008-04-30|
|         ALL|                 Lek|  2008-04-30|
|         AMD|       Armenian Dram|  2008-04-30|
|         ANG|Netherlands Antil...|  2008-04-30|
+------------+--------------------+------------+
only showing top 5 rows

The Data of the table   : Currency is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : CurrencyRate is : 13532
root
 |-- CurrencyRateID: integer (nullable = true)
 |-- CurrencyRateDate: date (nullable = true)
 |-- FromCurrencyCode: string (nullable = true)
 |-- ToCurrencyCode: string (nullable = true)
 |-- AverageRate: decimal(19,4) (nullable = true)
 |-- EndOfDayRate: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : CurrencyRate is : None
+--------------+----------------+----------------+--------------+-----------+------------+------------+
|CurrencyRateID|CurrencyRateDate|FromCurrencyCode|ToCurrencyCode|AverageRate|EndOfDayRate|ModifiedDate|
+--------------+----------------+----------------+--------------+-----------+------------+------------+
|             1|      2011-05-31|             USD|           ARS|     1.0000|      1.0002|  2011-05-31|
|             2|      2011-05-31|             USD|           AUD|     1.5491|      1.5500|  2011-05-31|
|             3|      2011-05-31|             USD|           BRL|     1.9379|      1.9419|  2011-05-31|
|             4|      2011-05-31|             USD|           CAD|     1.4641|      1.4683|  2011-05-31|
|             5|      2011-05-31|             USD|           CNY|     8.2781|      8.2784|  2011-05-31|
+--------------+----------------+----------------+--------------+-----------+------------+------------+
only showing top 5 rows

The Data of the table   : CurrencyRate is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : Customer is : 19820
root
 |-- CustomerID: integer (nullable = true)
 |-- PersonID: integer (nullable = true)
 |-- StoreID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : Customer is : None
+----------+--------+-------+-----------+-------------+--------------------+------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+------------+
|         1|       0|    934|          1|   AW00000001|3f5ae95e-b87d-4ae...|  2014-09-12|
|         2|       0|   1028|          1|   AW00000002|e552f657-a9af-4a7...|  2014-09-12|
|         3|       0|    642|          4|   AW00000003|130774b1-db21-4ef...|  2014-09-12|
|         4|       0|    932|          4|   AW00000004|ff862851-1daa-404...|  2014-09-12|
|         5|       0|   1026|          4|   AW00000005|83905bdc-6f5e-4f7...|  2014-09-12|
+----------+--------+-------+-----------+-------------+--------------------+------------+
only showing top 5 rows

The Data of the table   : Customer is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : PersonCreditCard is : 19118
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : PersonCreditCard is : None
+----------------+------------+------------+
|BusinessEntityID|CreditCardID|ModifiedDate|
+----------------+------------+------------+
|             293|       17038|  2013-07-31|
|             295|       15369|  2011-08-01|
|             297|        8010|  2011-08-01|
|             299|        5316|  2013-07-31|
|             301|        6653|  2011-05-31|
+----------------+------------+------------+
only showing top 5 rows

The Data of the table   : PersonCreditCard is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesOrderDetail is : 121317
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesOrderDetailID: integer (nullable = true)
 |-- CarrierTrackingNumber: string (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- SpecialOfferID: integer (nullable = true)
 |-- UnitPrice: decimal(19,4) (nullable = true)
 |-- UnitPriceDiscount: decimal(19,4) (nullable = true)
 |-- LineTotal: decimal(38,6) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesOrderDetail is : None
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|2024.9940|           0.0000|2024.994000|b207c96d-d9e6-402...|  2011-05-31|
|       43659|                 2|         4911-403C-98|       3|      777|             1|2024.9940|           0.0000|6074.982000|7abb600d-1e77-41b...|  2011-05-31|
|       43659|                 3|         4911-403C-98|       1|      778|             1|2024.9940|           0.0000|2024.994000|475cf8c6-49f6-486...|  2011-05-31|
|       43659|                 4|         4911-403C-98|       1|      771|             1|2039.9940|           0.0000|2039.994000|04c4de91-5815-45d...|  2011-05-31|
|       43659|                 5|         4911-403C-98|       1|      772|             1|2039.9940|           0.0000|2039.994000|5a74c7d2-e641-438...|  2011-05-31|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
only showing top 5 rows

The Data of the table   : SalesOrderDetail is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesOrderHeader is : 31465
root
 |-- SalesOrderID: integer (nullable = true)
 |-- RevisionNumber: integer (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DueDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- Status: integer (nullable = true)
 |-- OnlineOrderFlag: boolean (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- PurchaseOrderNumber: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- BillToAddressID: integer (nullable = true)
 |-- ShipToAddressID: integer (nullable = true)
 |-- ShipMethodID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- CreditCardApprovalCode: string (nullable = true)
 |-- CurrencyRateID: integer (nullable = true)
 |-- SubTotal: decimal(19,4) (nullable = true)
 |-- TaxAmt: decimal(19,4) (nullable = true)
 |-- Freight: decimal(19,4) (nullable = true)
 |-- TotalDue: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesOrderHeader is : None
+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
|SalesOrderID|RevisionNumber| OrderDate|   DueDate|  ShipDate|Status|OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|CustomerID|SalesPersonID|TerritoryID|BillToAddressID|ShipToAddressID|ShipMethodID|CreditCardID|CreditCardApprovalCode|CurrencyRateID|  SubTotal|   TaxAmt| Freight|  TotalDue|             rowguid|ModifiedDate|
+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
|       43659|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43659|        PO522145787|10-4020-000676|     29825|          279|          5|            985|            985|           5|       16281|         105041Vi84182|             0|20565.6206|1971.5149|616.0984|23153.2339|79b65321-39ca-411...|  2011-06-07|
|       43660|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43660|      PO18850127500|10-4020-000117|     29672|          279|          5|            921|            921|           5|        5618|         115213Vi29411|             0| 1294.2529| 124.2483| 38.8276| 1457.3288|738dc42d-d03b-48a...|  2011-06-07|
|       43661|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43661|      PO18473189620|10-4020-000442|     29734|          282|          6|            517|            517|           5|        1346|           85274Vi6854|             4|32726.4786|3153.7696|985.5530|36865.8012|d91b9131-18a4-4a1...|  2011-06-07|
|       43662|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43662|      PO18444174044|10-4020-000227|     29994|          282|          6|            482|            482|           5|       10456|         125295Vi53935|             4|28832.5289|2775.1646|867.2389|32474.9324|4a1ecfc0-cc3a-474...|  2011-06-07|
|       43663|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43663|      PO18009186470|10-4020-000510|     29565|          276|          4|           1073|           1073|           5|        4322|          45303Vi22691|             0|  419.4589|  40.2681| 12.5838|  472.3108|9b1e7a40-6ae0-4ad...|  2011-06-07|
+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
only showing top 5 rows

The Data of the table   : SalesOrderHeader is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesOrderHeaderSalesReason is : 27647
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesReasonID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesOrderHeaderSalesReason is : None
+------------+-------------+------------+
|SalesOrderID|SalesReasonID|ModifiedDate|
+------------+-------------+------------+
|       43697|            5|  2011-05-31|
|       43697|            9|  2011-05-31|
|       43702|            5|  2011-06-01|
|       43702|            9|  2011-06-01|
|       43703|            5|  2011-06-01|
+------------+-------------+------------+
only showing top 5 rows

The Data of the table   : SalesOrderHeaderSalesReason is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesPerson is : 17
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- SalesQuota: decimal(23,8) (nullable = true)
 |-- Bonus: decimal(19,4) (nullable = true)
 |-- CommissionPct: decimal(10,4) (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesPerson is : None
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
|BusinessEntityID|TerritoryID|     SalesQuota|    Bonus|CommissionPct|    SalesYTD|SalesLastYear|             rowguid|ModifiedDate|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
|             274|          0|260714.28571429|   0.0000|       0.0000| 559697.5639|       0.0000|48754992-9ee0-4c0...|  2010-12-28|
|             275|          2|300000.00000000|4100.0000|       0.0120|3763178.1787| 1750406.4785|1e0a7274-3064-4f5...|  2011-05-24|
|             276|          4|250000.00000000|2000.0000|       0.0150|4251368.5497| 1439156.0291|4dd9eee4-8e81-4f8...|  2011-05-24|
|             277|          3|250000.00000000|2500.0000|       0.0150|3189418.3662| 1997186.2037|39012928-bfec-424...|  2011-05-24|
|             278|          6|250000.00000000| 500.0000|       0.0100|1453719.4653| 1620276.8966|7a0ae1ab-b283-40f...|  2011-05-24|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
only showing top 5 rows

The Data of the table   : SalesPerson is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesPersonQuotaHistory is : 163
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- QuotaDate: date (nullable = true)
 |-- SalesQuota: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesPersonQuotaHistory is : None
+----------------+----------+-----------+--------------------+------------+
|BusinessEntityID| QuotaDate| SalesQuota|             rowguid|ModifiedDate|
+----------------+----------+-----------+--------------------+------------+
|             274|2011-05-31| 28000.0000|99109bbf-8693-458...|  2011-04-16|
|             274|2011-08-31|  7000.0000|dfd01444-8900-461...|  2011-07-17|
|             274|2011-12-01| 91000.0000|0a69f453-9689-4cc...|  2011-10-17|
|             274|2012-02-29|140000.0000|da8d1458-5fb9-4c3...|  2012-01-15|
|             274|2012-05-30| 70000.0000|760cef84-b980-417...|  2012-04-15|
+----------------+----------+-----------+--------------------+------------+
only showing top 5 rows

The Data of the table   : SalesPersonQuotaHistory is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesReason is : 10
root
 |-- SalesReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ReasonType: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

The Schema of the table : SalesReason is : None
+-------------+--------------------+----------+------------+
|SalesReasonID|                Name|ReasonType|ModifiedDate|
+-------------+--------------------+----------+------------+
|            1|               Price|     Other|  2008-04-30|
|            2|        On Promotion| Promotion|  2008-04-30|
|            3|Magazine Advertis...| Marketing|  2008-04-30|
|            4|Television  Adver...| Marketing|  2008-04-30|
|            5|        Manufacturer|     Other|  2008-04-30|
+-------------+--------------------+----------+------------+
only showing top 5 rows

The Data of the table   : SalesReason is :
 None
==========================================================================================================
==========================================================================================================
The count of the table  : SalesTaxRate is : 29
root
 |-- SalesTaxRateID: integer (nullable = true)
 |-- StateProvinceID: integer (nullable = true)
 |-- TaxType: integer (nullable = true)
 |-- TaxRate: decimal(10,4) (nullable = true)
 |-- Name: string (nullable = true)

In [0]:
# Writing the transformed data to gold layer

gold_base_path = 'abfss://gold@dmgproductionadls2.dfs.core.windows.net/Sales/'
for file in tables_list:
    file_path = gold_base_path+file+"/"
    df[file].write.mode("overwrite").format("delta").save(file_path)
    print(f"The {file} is written to gold layer!!")

The CountryRegionCurrency is written to gold layer!!
The CreditCard is written to gold layer!!
The Currency is written to gold layer!!
The CurrencyRate is written to gold layer!!
The Customer is written to gold layer!!
The PersonCreditCard is written to gold layer!!
The SalesOrderDetail is written to gold layer!!
The SalesOrderHeader is written to gold layer!!
The SalesOrderHeaderSalesReason is written to gold layer!!
The SalesPerson is written to gold layer!!
The SalesPersonQuotaHistory is written to gold layer!!
The SalesReason is written to gold layer!!
The SalesTaxRate is written to gold layer!!
The SalesTerritory is written to gold layer!!
The SalesTerritoryHistory is written to gold layer!!
The ShoppingCartItem is written to gold layer!!
The SpecialOffer is written to gold layer!!
The SpecialOfferProduct is written to gold layer!!
The Store is written to gold layer!!