
### Connecting ADLS Gen2 with Azure Databricks Notebook

In [0]:
'''
1. Created the App Registration in Azure Portal. 
2. Created the Secret under Certificate&Secrets for the App Registration that is created
3. In ADLS2, under IAM -> Added new Role Assignment and add the User that is created in the App Registration to establish the connectivity between ADLS and Azure Databricks. 
'''

storage_account = "dmgproductionadls2"                     # Storage account name
application_id = "7729fa92-7775-4604-9238-20b3d90fdecf"    # Application ID from App Registration
directory_id = "72a18fcd-e918-4ce9-aea4-0d2739f1bc60"      # Directory ID from App Registration

spark.conf.set(f"fs.azure.account.auth.type.{storage_account}.dfs.core.windows.net", "OAuth")
spark.conf.set(f"fs.azure.account.oauth.provider.type.{storage_account}.dfs.core.windows.net", "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set(f"fs.azure.account.oauth2.client.id.{storage_account}.dfs.core.windows.net", application_id)
spark.conf.set(f"fs.azure.account.oauth2.client.secret.{storage_account}.dfs.core.windows.net", "BtG8Q~xXGHe18fHgNtggNyDHcJuxSgOun1kagdBE")                # Value from App Registration -> Certification & Secrets
spark.conf.set(f"fs.azure.account.oauth2.client.endpoint.{storage_account}.dfs.core.windows.net", f"https://login.microsoftonline.com/{directory_id}/oauth2/token")


### Accessing the bronze layer and getting all the files names for further processing

In [0]:
# Extracting the bronze layered table list
bronze_base_path = 'abfss://bronze@dmgproductionadls2.dfs.core.windows.net/Sales/'
dbutils.fs.ls(bronze_base_path)
tables_list=[]
for table in dbutils.fs.ls(bronze_base_path):
    tables_list.append(table.name)
print(tables_list)

['CountryRegionCurrency/', 'CreditCard/', 'Currency/', 'CurrencyRate/', 'Customer/', 'PersonCreditCard/', 'SalesOrderDetail/', 'SalesOrderHeader/', 'SalesOrderHeaderSalesReason/', 'SalesPerson/', 'SalesPersonQuotaHistory/', 'SalesReason/', 'SalesTaxRate/', 'SalesTerritory/', 'SalesTerritoryHistory/', 'ShoppingCartItem/', 'SpecialOffer/', 'SpecialOfferProduct/', 'Store/']


### Reading the Bronze layer files into Spark dataframes dynamically

In [0]:
# Extracting the data from Bronze layer into dataframes inside a dictionary. 
df={}
for table in tables_list:
    file_name=table.split("/")[0]
    file_df="df_"+file_name
    file_path = bronze_base_path+table+file_name+".parquet"
    df[file_df]=spark.read.parquet(file_path,header=True)
    print(f'The name of the dataframe is {file_df} and count is {df[file_df].count()}')
    print("The data is:\n",df[file_df].show(2))

The name of the dataframe is df_CountryRegionCurrency and count is 109
+-----------------+------------+--------------------+
|CountryRegionCode|CurrencyCode|        ModifiedDate|
+-----------------+------------+--------------------+
|               AE|         AED|2014-02-08 10:17:...|
|               AR|         ARS|2014-02-08 10:17:...|
+-----------------+------------+--------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_CreditCard and count is 19118
+------------+------------+--------------+--------+-------+-------------------+
|CreditCardID|    CardType|    CardNumber|ExpMonth|ExpYear|       ModifiedDate|
+------------+------------+--------------+--------+-------+-------------------+
|           1|SuperiorCard|33332664695310|      11|   2006|2013-07-29 00:00:00|
|           2| Distinguish|55552127249722|       8|   2005|2013-12-05 00:00:00|
+------------+------------+--------------+--------+-------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Currency and count is 105
+------------+--------------+-------------------+
|CurrencyCode|          Name|       ModifiedDate|
+------------+--------------+-------------------+
|         AED|Emirati Dirham|2008-04-30 00:00:00|
|         AFA|       Afghani|2008-04-30 00:00:00|
+------------+--------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_CurrencyRate and count is 13532
+--------------+-------------------+----------------+--------------+-----------+------------+-------------------+
|CurrencyRateID|   CurrencyRateDate|FromCurrencyCode|ToCurrencyCode|AverageRate|EndOfDayRate|       ModifiedDate|
+--------------+-------------------+----------------+--------------+-----------+------------+-------------------+
|             1|2011-05-31 00:00:00|             USD|           ARS|     1.0000|      1.0002|2011-05-31 00:00:00|
|             2|2011-05-31 00:00:00|             USD|           AUD|     1.5491|      1.5500|2011-05-31 00:00:00|
+--------------+-------------------+----------------+--------------+-----------+------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_Customer and count is 19820
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|         1|    NULL|    934|          1|   AW00000001|3f5ae95e-b87d-4ae...|2014-09-12 11:15:...|
|         2|    NULL|   1028|          1|   AW00000002|e552f657-a9af-4a7...|2014-09-12 11:15:...|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_PersonCreditCard and count is 19118
+----------------+------------+-------------------+
|BusinessEntityID|CreditCardID|       ModifiedDate|
+----------------+------------+-------------------+
|             293|       17038|2013-07-31 00:00:00|
|             295|       15369|2011-08-01 00:00:00|
+----------------+------------+-------------------+
only showing top 2 rows

The data is:
 None
The name of the dataframe is df_SalesOrderDetail and count is 121317
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|2024.9940|           0.0000|2024.994000|b207c96d-d9e6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1|2024.9940|           0.0000|6074.982000|7abb600d-1e77-41b...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
only showing top 2 rows

The data is:
 None


## Data Cleaning


#### Defining the function to check null values

In [0]:
from pyspark.sql.functions import col, count, when

def check_nulls(df, df_name):
    # Initialize an empty list to store the count expressions
    counts = []
    
    # Iterate over each column and apply the count condition
    for c in df.columns:
        counts.append(count(when(col(c).isNull(), 1)).alias(c))
    
    # Apply select with the count expressions
    null_counts_df = df.select(*counts)
    
    # Collect results as a dictionary
    null_counts = null_counts_df.collect()[0].asDict()
   
    # Check if any column has nulls
    if any(value > 0 for value in null_counts.values()):
        print(f"!!!!! Null values detected in {df_name}!!!!!")
        print(null_counts)
    else:
        print(f"<<OK>> No nulls found in {df_name} <<OK>>")

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8903882494457152>, line 5
      3 file_name=table.split("/")[0]
      4 file_df="df_"+file_name
----> 5 file_path = base_path+table+file_name+".parquet"
      6 df[file_df]=spark.read.parquet(file_path,header=True)
      7 print(f'The name of the dataframe is {file_df} and count is {df[file_df].count()}')

NameError: name 'base_path' is not defined

In [0]:
# Displaying the count and validating the null values in each of the dataframes. 
for table in df.keys():
    print("\nThe  table is  :", table)
    print("The count of df:",df[table].count())
    check_nulls(df[table],table)

The  table is  : df_CountryRegionCurrency
The count of df: 109
<<OK>> No nulls found in df_CountryRegionCurrency <<OK>>

The  table is  : df_CreditCard
The count of df: 19118
<<OK>> No nulls found in df_CreditCard <<OK>>

The  table is  : df_Currency
The count of df: 105
<<OK>> No nulls found in df_Currency <<OK>>

The  table is  : df_CurrencyRate
The count of df: 13532
<<OK>> No nulls found in df_CurrencyRate <<OK>>

The  table is  : df_Customer
The count of df: 19820
!!!!! Null values detected in df_Customer!!!!!
{'CustomerID': 0, 'PersonID': 701, 'StoreID': 18484, 'TerritoryID': 0, 'AccountNumber': 0, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_PersonCreditCard
The count of df: 19118
<<OK>> No nulls found in df_PersonCreditCard <<OK>>

The  table is  : df_SalesOrderDetail
The count of df: 121317
!!!!! Null values detected in df_SalesOrderDetail!!!!!
{'SalesOrderID': 0, 'SalesOrderDetailID': 0, 'CarrierTrackingNumber': 60398, 'OrderQty': 0, 'ProductID': 0, 'SpecialOfferID': 0, 'UnitPrice': 0, 'UnitPriceDiscount': 0, 'LineTotal': 0, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_SalesOrderHeader
The count of df: 31465
!!!!! Null values detected in df_SalesOrderHeader!!!!!
{'SalesOrderID': 0, 'RevisionNumber': 0, 'OrderDate': 0, 'DueDate': 0, 'ShipDate': 0, 'Status': 0, 'OnlineOrderFlag': 0, 'SalesOrderNumber': 0, 'PurchaseOrderNumber': 27659, 'AccountNumber': 0, 'CustomerID': 0, 'SalesPersonID': 27659, 'TerritoryID': 0, 'BillToAddressID': 0, 'ShipToAddressID': 0, 'ShipMethodID': 0, 'CreditCardID': 1131, 'CreditCardApprovalCode': 1131, 'CurrencyRateID': 17489, 'SubTotal': 0, 'TaxAmt': 0, 'Freight': 0, 'TotalDue': 0, 'Comment': 31465, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_SalesOrderHeaderSalesReason
The count of df: 27647
<<OK>> No nulls found in df_SalesOrderHeaderSalesReason <<OK>>

The  table is  : df_SalesPerson
The count of df: 17
!!!!! Null values detected in df_SalesPerson!!!!!
{'BusinessEntityID': 0, 'TerritoryID': 3, 'SalesQuota': 3, 'Bonus': 0, 'CommissionPct': 0, 'SalesYTD': 0, 'SalesLastYear': 0, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_SalesPersonQuotaHistory
The count of df: 163
<<OK>> No nulls found in df_SalesPersonQuotaHistory <<OK>>

The  table is  : df_SalesReason
The count of df: 10
<<OK>> No nulls found in df_SalesReason <<OK>>

The  table is  : df_SalesTaxRate
The count of df: 29
<<OK>> No nulls found in df_SalesTaxRate <<OK>>

The  table is  : df_SalesTerritory
The count of df: 10
<<OK>> No nulls found in df_SalesTerritory <<OK>>

The  table is  : df_SalesTerritoryHistory
The count of df: 17
!!!!! Null values detected in df_SalesTerritoryHistory!!!!!
{'BusinessEntityID': 0, 'TerritoryID': 0, 'StartDate': 0, 'EndDate': 13, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_ShoppingCartItem
The count of df: 3
<<OK>> No nulls found in df_ShoppingCartItem <<OK>>

The  table is  : df_SpecialOffer
The count of df: 16
!!!!! Null values detected in df_SpecialOffer!!!!!
{'SpecialOfferID': 0, 'Description': 0, 'DiscountPct': 0, 'Type': 0, 'Category': 0, 'StartDate': 0, 'EndDate': 0, 'MinQty': 0, 'MaxQty': 12, 'rowguid': 0, 'ModifiedDate': 0}

The  table is  : df_SpecialOfferProduct
The count of df: 538
<<OK>> No nulls found in df_SpecialOfferProduct <<OK>>

The  table is  : df_Store
The count of df: 701
<<OK>> No nulls found in df_Store <<OK>>

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8903882494457152>, line 5
      3 file_name=table.split("/")[0]
      4 file_df="df_"+file_name
----> 5 file_path = base_path+table+file_name+".parquet"
      6 df[file_df]=spark.read.parquet(file_path,header=True)
      7 print(f'The name of the dataframe is {file_df} and count is {df[file_df].count()}')

NameError: name 'base_path' is not defined


So from the above cell, it is clear that most of the dataframes are without null values, however below have null values. Lets review them if data needs imputed. 

- df_Customer
- df_SalesOrderDetail
- df_SalesOrderHeader 
- df_SalesPerson 
- df_SalesTerritoryHistory 
- df_SpecialOffer

In [0]:
# Fixing null in the table df_Customer

# display Original dataframe
print("The Original table is  :")
df['df_Customer'].show(5)

# Update StoreID where its null as 0. 
df['df_Customer'] = df['df_Customer'].withColumn("StoreID", when(col("StoreID").isNull(), 0).otherwise(col("StoreID")))
# Update PersonID where its null as 0 . 
df['df_Customer'] = df['df_Customer'].withColumn("PersonID", when(col("PersonID").isNull(), 0).otherwise(col("PersonID")))

# Show updated DataFrame
print("The Updated table is  :")
df['df_Customer'].show(5)

# Validating the null values
check_nulls(df['df_Customer'], 'df_Customer')

The Original table is  :
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|         1|    NULL|    934|          1|   AW00000001|3f5ae95e-b87d-4ae...|2014-09-12 11:15:...|
|         2|    NULL|   1028|          1|   AW00000002|e552f657-a9af-4a7...|2014-09-12 11:15:...|
|         3|    NULL|    642|          4|   AW00000003|130774b1-db21-4ef...|2014-09-12 11:15:...|
|         4|    NULL|    932|          4|   AW00000004|ff862851-1daa-404...|2014-09-12 11:15:...|
|         5|    NULL|   1026|          4|   AW00000005|83905bdc-6f5e-4f7...|2014-09-12 11:15:...|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
only showing top 5 rows

The Updated table is  :
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|         1|       0|    934|          1|   AW00000001|3f5ae95e-b87d-4ae...|2014-09-12 11:15:...|
|         2|       0|   1028|          1|   AW00000002|e552f657-a9af-4a7...|2014-09-12 11:15:...|
|         3|       0|    642|          4|   AW00000003|130774b1-db21-4ef...|2014-09-12 11:15:...|
|         4|       0|    932|          4|   AW00000004|ff862851-1daa-404...|2014-09-12 11:15:...|
|         5|       0|   1026|          4|   AW00000005|83905bdc-6f5e-4f7...|2014-09-12 11:15:...|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
only showing top 5 rows

<<OK>> No nulls found in df_Customer <<OK>>

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3271532783269673>, line 9
      6 df['df_Customer'].show(2500)
      8 # Update EndDate where it's NULL as 2 monthsr from the StartDate.
----> 9 df['df_Customer'] = df['df_Customer'].withColumn("EndDate", when(col("EndDate").isNull(), add_months(col("StartDate"), 2)).otherwise(col("EndDate")))
     10 # Update ProductAssemblyID where its null as 0 .
     11 df['df_Customer'] = df['df_Customer'].withColumn("ProductAssemblyID", when(col("ProductAssemblyID").isNull(), 0).otherwise(col("ProductAssemblyID")))

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:6282, in DataFrame.withColumn(self, colName, col)
   6277 if not isinstance(col, Column):
   6278     raise PySparkTypeError(
   6279         error_class="NOT_COLUMN",
   6280         message_parameters={"arg_name": "col", "arg_type": type(col).__name__},
   6281     )
-> 6282 return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:261, in capture_sql_exception.<locals>.deco(*a, **kw)
    257 converted = convert_exception(e.java_exception)
    258 if not isinstance(converted, UnknownException):
    259     # Hide where the exception came from that shows a non-Pythonic
    260     # JVM exception message.
--> 261     raise converted from None
    262 else:
    263     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `EndDate` cannot be resolved. Did you mean one of the following? [`ModifiedDate`, `StoreID`, `rowguid`, `PersonID`, `CustomerID`]. SQLSTATE: 42703;
'Project [CustomerID#167, PersonID#168, StoreID#169, TerritoryID#170, AccountNumber#171, rowguid#172, ModifiedDate#173, CASE WHEN 'isNull('EndDate) THEN 'add_months('StartDate, 2) ELSE 'EndDate END AS EndDate#2455]
+- Relation [CustomerID#167,PersonID#168,StoreID#169,TerritoryID#170,AccountNumber#171,rowguid#172,ModifiedDate#173] parquet

In [0]:
# Fixing null in the table df_SalesOrderDetail

from pyspark.sql.functions import col, when, add_months

# display Original dataframe
print("The Original table is  :")
df['df_SalesOrderDetail'].show(5)

# Update StoreID where its null as "not Available". 
df['df_SalesOrderDetail'] = df['df_SalesOrderDetail'].withColumn("CarrierTrackingNumber", when(col("CarrierTrackingNumber").isNull(), "Not Available").otherwise(col("CarrierTrackingNumber")))

# Show updated DataFrame
print("The Updated table is  :")
df['df_SalesOrderDetail'].show(5)

# Validating the null values
check_nulls(df['df_SalesOrderDetail'], 'df_SalesOrderDetail')

The Original table is  :
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|2024.9940|           0.0000|2024.994000|b207c96d-d9e6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1|2024.9940|           0.0000|6074.982000|7abb600d-1e77-41b...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1|2024.9940|           0.0000|2024.994000|475cf8c6-49f6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1|2039.9940|           0.0000|2039.994000|04c4de91-5815-45d...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1|2039.9940|           0.0000|2039.994000|5a74c7d2-e641-438...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
only showing top 5 rows

The Updated table is  :
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|2024.9940|           0.0000|2024.994000|b207c96d-d9e6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1|2024.9940|           0.0000|6074.982000|7abb600d-1e77-41b...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1|2024.9940|           0.0000|2024.994000|475cf8c6-49f6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1|2039.9940|           0.0000|2039.994000|04c4de91-5815-45d...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1|2039.9940|           0.0000|2039.994000|5a74c7d2-e641-438...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_SalesOrderDetail <<OK>>

In [0]:
# Fixing null in the table df_SalesOrderHeader

# Show original DataFrame
print("The Original table is  :")
#df['df_SalesOrderHeader'].show(5)

# Update "SalesPersonID" as 0 for null values
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("SalesPersonID", when((col("SalesPersonID").isNull()), 0).otherwise(col("SalesPersonID")))

# Update "PurchaseOrderNumber" as 0 for null values
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("PurchaseOrderNumber", when((col("PurchaseOrderNumber").isNull()), 0).otherwise(col("PurchaseOrderNumber")))

# dropping comment column as all values are null
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].drop('Comment')

# Update "CurrencyRateID" as 0 where it's NULL
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("CurrencyRateID", when(col("CurrencyRateID").isNull(), 0).otherwise(col("CurrencyRateID")))

# Update "CreditCardID" as 0 where it's NULL
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("CreditCardID", when(col("CreditCardID").isNull(), 0).otherwise(col("CreditCardID")))

# Update "CreditCardApprovalCode" as 0 where it's NULL
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("CreditCardApprovalCode", when(col("CreditCardApprovalCode").isNull(), "Not Available").otherwise(col("CreditCardApprovalCode")))

# Update "CurrencyRateID" as 0 where it's NULL
df['df_SalesOrderHeader'] = df['df_SalesOrderHeader'].withColumn("CurrencyRateID", when(col("CurrencyRateID").isNull(), 0).otherwise(col("CurrencyRateID")))

# Show Updated DataFrame
print("The Updated table is  :")
#df['df_SalesOrderHeader'].show(5)

check_nulls(df['df_SalesOrderHeader'], 'df_SalesOrderHeader')

The Original table is  :
The Updated table is  :
<<OK>> No nulls found in df_SalesOrderHeader <<OK>>

  File <command-3271532783269675>, line 32
    check_nulls(df['df_SalesOrderHeader'], 'df_SalesOrderHeader')'''
                                                                 ^
SyntaxError: incomplete input

In [0]:
# Fixing null in the table df_SalesPerson
 
# Show Original DataFrame
print("The Original table is  :")
df['df_SalesPerson'].show(5)

avg_SalesQuota=df['df_SalesPerson'].select('SalesQuota').agg({'SalesQuota':'avg'}).collect()[0][0]

df['df_SalesPerson']=df['df_SalesPerson'].withColumn("SalesQuota",when(col("SalesQuota").isNull(),avg_SalesQuota).otherwise(col("SalesQuota")))
df['df_SalesPerson']=df['df_SalesPerson'].withColumn("TerritoryID",when(col("TerritoryID").isNull(),0).otherwise(col("TerritoryID")))

# Show Updated DataFrame
print("The Updated table is  :")
df['df_SalesPerson'].show(5)
check_nulls(df['df_SalesPerson'],'df_SalesPerson')

The Original table is  :
+----------------+-----------+-----------+---------+-------------+------------+-------------+--------------------+-------------------+
|BusinessEntityID|TerritoryID| SalesQuota|    Bonus|CommissionPct|    SalesYTD|SalesLastYear|             rowguid|       ModifiedDate|
+----------------+-----------+-----------+---------+-------------+------------+-------------+--------------------+-------------------+
|             274|       NULL|       NULL|   0.0000|       0.0000| 559697.5639|       0.0000|48754992-9ee0-4c0...|2010-12-28 00:00:00|
|             275|          2|300000.0000|4100.0000|       0.0120|3763178.1787| 1750406.4785|1e0a7274-3064-4f5...|2011-05-24 00:00:00|
|             276|          4|250000.0000|2000.0000|       0.0150|4251368.5497| 1439156.0291|4dd9eee4-8e81-4f8...|2011-05-24 00:00:00|
|             277|          3|250000.0000|2500.0000|       0.0150|3189418.3662| 1997186.2037|39012928-bfec-424...|2011-05-24 00:00:00|
|             278|          6|250000.0000| 500.0000|       0.0100|1453719.4653| 1620276.8966|7a0ae1ab-b283-40f...|2011-05-24 00:00:00|
+----------------+-----------+-----------+---------+-------------+------------+-------------+--------------------+-------------------+
only showing top 5 rows

The Updated table is  :
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+-------------------+
|BusinessEntityID|TerritoryID|     SalesQuota|    Bonus|CommissionPct|    SalesYTD|SalesLastYear|             rowguid|       ModifiedDate|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+-------------------+
|             274|          0|260714.28571429|   0.0000|       0.0000| 559697.5639|       0.0000|48754992-9ee0-4c0...|2010-12-28 00:00:00|
|             275|          2|300000.00000000|4100.0000|       0.0120|3763178.1787| 1750406.4785|1e0a7274-3064-4f5...|2011-05-24 00:00:00|
|             276|          4|250000.00000000|2000.0000|       0.0150|4251368.5497| 1439156.0291|4dd9eee4-8e81-4f8...|2011-05-24 00:00:00|
|             277|          3|250000.00000000|2500.0000|       0.0150|3189418.3662| 1997186.2037|39012928-bfec-424...|2011-05-24 00:00:00|
|             278|          6|250000.00000000| 500.0000|       0.0100|1453719.4653| 1620276.8966|7a0ae1ab-b283-40f...|2011-05-24 00:00:00|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_SalesPerson <<OK>>

In [0]:
# Fixing null in the table df_SalesTerritoryHistory
from pyspark.sql.functions import date_add, col

# Show Original DataFrame
print("The Original table is  :")
df['df_SalesTerritoryHistory'].show(5)

df['df_SalesTerritoryHistory']=df['df_SalesTerritoryHistory'].withColumn("EndDate",when(col("EndDate").isNull(),date_add(col("StartDate"),365)).otherwise(col("EndDate")))

# Show Updated DataFrame
print("The Updated table is  :")
df['df_SalesTerritoryHistory'].show(5)

check_nulls(df['df_SalesTerritoryHistory'],'df_SalesTerritoryHistory')

The Original table is  :
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
|BusinessEntityID|TerritoryID|          StartDate|            EndDate|             rowguid|       ModifiedDate|
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
|             275|          2|2011-05-31 00:00:00|2012-11-29 00:00:00|8563ce6a-00ff-47d...|2012-11-22 00:00:00|
|             275|          3|2012-11-30 00:00:00|               NULL|2f44304c-ee87-4c7...|2012-11-23 00:00:00|
|             276|          4|2011-05-31 00:00:00|               NULL|64bcb1b3-a793-40b...|2011-05-24 00:00:00|
|             277|          3|2011-05-31 00:00:00|2012-11-29 00:00:00|3e9f893d-5142-46c...|2012-11-22 00:00:00|
|             277|          2|2012-11-30 00:00:00|               NULL|132e4721-32dd-4a7...|2012-11-23 00:00:00|
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
only showing top 5 rows

The Updated table is  :
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
|BusinessEntityID|TerritoryID|          StartDate|            EndDate|             rowguid|       ModifiedDate|
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
|             275|          2|2011-05-31 00:00:00|2012-11-29 00:00:00|8563ce6a-00ff-47d...|2012-11-22 00:00:00|
|             275|          3|2012-11-30 00:00:00|2013-11-30 00:00:00|2f44304c-ee87-4c7...|2012-11-23 00:00:00|
|             276|          4|2011-05-31 00:00:00|2012-05-30 00:00:00|64bcb1b3-a793-40b...|2011-05-24 00:00:00|
|             277|          3|2011-05-31 00:00:00|2012-11-29 00:00:00|3e9f893d-5142-46c...|2012-11-22 00:00:00|
|             277|          2|2012-11-30 00:00:00|2013-11-30 00:00:00|132e4721-32dd-4a7...|2012-11-23 00:00:00|
+----------------+-----------+-------------------+-------------------+--------------------+-------------------+
only showing top 5 rows

<<OK>> No nulls found in df_SalesTerritoryHistory <<OK>>

In [0]:
# Fixing null in the table df_SpecialOffer
from pyspark.sql.functions import col, when, lit, coalesce

# Show Original DataFrame
print("The Original table is  :")
df['df_SpecialOffer'].show(6)

# Updating the MaxQty as 0 where it's null and MinQty is 0
df['df_SpecialOffer']=df['df_SpecialOffer'].withColumn("MaxQty",when(col("MaxQty").isNull() & (col("MinQty") == 0), 0).otherwise(col("MaxQty")))

# Collect MaxQty and MinQty values as lists
MaxQty_list = [row['MaxQty'] for row in df['df_SpecialOffer'].select('MaxQty').collect()]
MinQty_list = [row['MinQty'] for row in df['df_SpecialOffer'].select('MinQty').collect()]

#Calculate the average of difference of MaxQty and MinQty
avg_qty = [a - b for a, b in zip(MaxQty_list, MinQty_list) if a is not None and b is not None]
avg_qty_to_update=round((sum(avg_qty) / len(avg_qty) if avg_qty else 0),)

#Impute the MaxQty value as MinQty + Avg_qty that is calcualted. 
df['df_SpecialOffer']=df['df_SpecialOffer'].withColumn("MaxQty",when(col("MaxQty").isNull(), ((col("MinQty")) + lit(avg_qty_to_update)))
    .otherwise(col("MaxQty")))

# Show Updated DataFrame
print("The Updated table is  :")
df['df_SpecialOffer'].show(6)

check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')

The Original table is  :
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
|SpecialOfferID|         Description|DiscountPct|           Type|   Category|          StartDate|            EndDate|MinQty|MaxQty|             rowguid|       ModifiedDate|
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
|             1|         No Discount|     0.0000|    No Discount|No Discount|2011-05-01 00:00:00|2014-11-30 00:00:00|     0|  NULL|0290c4f5-191f-433...|2011-04-01 00:00:00|
|             2|Volume Discount 1...|     0.0200|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    11|    14|d7542ee7-15db-454...|2011-05-01 00:00:00|
|             3|Volume Discount 1...|     0.0500|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    15|    24|4bdbcc01-8cf7-40a...|2011-05-01 00:00:00|
|             4|Volume Discount 2...|     0.1000|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    25|    40|504b5e85-8f3f-4eb...|2011-05-01 00:00:00|
|             5|Volume Discount 4...|     0.1500|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    41|    60|677e1d9d-944f-4e8...|2011-05-01 00:00:00|
|             6|Volume Discount o...|     0.2000|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    61|  NULL|8157f569-4e8d-46b...|2011-05-01 00:00:00|
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
only showing top 6 rows

The Updated table is  :
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
|SpecialOfferID|         Description|DiscountPct|           Type|   Category|          StartDate|            EndDate|MinQty|MaxQty|             rowguid|       ModifiedDate|
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
|             1|         No Discount|     0.0000|    No Discount|No Discount|2011-05-01 00:00:00|2014-11-30 00:00:00|     0|     0|0290c4f5-191f-433...|2011-04-01 00:00:00|
|             2|Volume Discount 1...|     0.0200|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    11|    14|d7542ee7-15db-454...|2011-05-01 00:00:00|
|             3|Volume Discount 1...|     0.0500|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    15|    24|4bdbcc01-8cf7-40a...|2011-05-01 00:00:00|
|             4|Volume Discount 2...|     0.1000|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    25|    40|504b5e85-8f3f-4eb...|2011-05-01 00:00:00|
|             5|Volume Discount 4...|     0.1500|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    41|    60|677e1d9d-944f-4e8...|2011-05-01 00:00:00|
|             6|Volume Discount o...|     0.2000|Volume Discount|   Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    61|    64|8157f569-4e8d-46b...|2011-05-01 00:00:00|
+--------------+--------------------+-----------+---------------+-----------+-------------------+-------------------+------+------+--------------------+-------------------+
only showing top 6 rows

<<OK>> No nulls found in df_SpecialOffer <<OK>>

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined

In [0]:
# Re-validate if nulls are handled in all the tables. 
for table in df.keys():
    print("\nThe  table is  :", table)
    print("The count of df:",df[table].count())
    check_nulls(df[table],table)

The  table is  : df_CountryRegionCurrency
The count of df: 109
<<OK>> No nulls found in df_CountryRegionCurrency <<OK>>

The  table is  : df_CreditCard
The count of df: 19118
<<OK>> No nulls found in df_CreditCard <<OK>>

The  table is  : df_Currency
The count of df: 105
<<OK>> No nulls found in df_Currency <<OK>>

The  table is  : df_CurrencyRate
The count of df: 13532
<<OK>> No nulls found in df_CurrencyRate <<OK>>

The  table is  : df_Customer
The count of df: 19820
<<OK>> No nulls found in df_Customer <<OK>>

The  table is  : df_PersonCreditCard
The count of df: 19118
<<OK>> No nulls found in df_PersonCreditCard <<OK>>

The  table is  : df_SalesOrderDetail
The count of df: 121317
<<OK>> No nulls found in df_SalesOrderDetail <<OK>>

The  table is  : df_SalesOrderHeader
The count of df: 31465
<<OK>> No nulls found in df_SalesOrderHeader <<OK>>

The  table is  : df_SalesOrderHeaderSalesReason
The count of df: 27647
<<OK>> No nulls found in df_SalesOrderHeaderSalesReason <<OK>>

The  table is  : df_SalesPerson
The count of df: 17
<<OK>> No nulls found in df_SalesPerson <<OK>>

The  table is  : df_SalesPersonQuotaHistory
The count of df: 163
<<OK>> No nulls found in df_SalesPersonQuotaHistory <<OK>>

The  table is  : df_SalesReason
The count of df: 10
<<OK>> No nulls found in df_SalesReason <<OK>>

The  table is  : df_SalesTaxRate
The count of df: 29
<<OK>> No nulls found in df_SalesTaxRate <<OK>>

The  table is  : df_SalesTerritory
The count of df: 10
<<OK>> No nulls found in df_SalesTerritory <<OK>>

The  table is  : df_SalesTerritoryHistory
The count of df: 17
<<OK>> No nulls found in df_SalesTerritoryHistory <<OK>>

The  table is  : df_ShoppingCartItem
The count of df: 3
<<OK>> No nulls found in df_ShoppingCartItem <<OK>>

The  table is  : df_SpecialOffer
The count of df: 16
<<OK>> No nulls found in df_SpecialOffer <<OK>>

The  table is  : df_SpecialOfferProduct
The count of df: 538
<<OK>> No nulls found in df_SpecialOfferProduct <<OK>>

The  table is  : df_Store
The count of df: 701
<<OK>> No nulls found in df_Store <<OK>>

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined


View table schema and then transform Timestamp datatype to Date in all tables since the time values in timestamp are zeros.

In [0]:
# Create the function to print the Schema. 
def print_schema(df, df_name):
    print("\nThe Schema of the table {} is :".format(df_name))
    df.printSchema()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined

In [0]:
# Displaying the schema of each tables to identify the timestamp column
for file in df.keys():
    print_schema(df[file],file)

The Schema of the table df_CountryRegionCurrency is :
root
 |-- CountryRegionCode: string (nullable = true)
 |-- CurrencyCode: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_CreditCard is :
root
 |-- CreditCardID: integer (nullable = true)
 |-- CardType: string (nullable = true)
 |-- CardNumber: string (nullable = true)
 |-- ExpMonth: integer (nullable = true)
 |-- ExpYear: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Currency is :
root
 |-- CurrencyCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_CurrencyRate is :
root
 |-- CurrencyRateID: integer (nullable = true)
 |-- CurrencyRateDate: timestamp (nullable = true)
 |-- FromCurrencyCode: string (nullable = true)
 |-- ToCurrencyCode: string (nullable = true)
 |-- AverageRate: decimal(19,4) (nullable = true)
 |-- EndOfDayRate: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Customer is :
root
 |-- CustomerID: integer (nullable = true)
 |-- PersonID: integer (nullable = true)
 |-- StoreID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_PersonCreditCard is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesOrderDetail is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesOrderDetailID: integer (nullable = true)
 |-- CarrierTrackingNumber: string (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- SpecialOfferID: integer (nullable = true)
 |-- UnitPrice: decimal(19,4) (nullable = true)
 |-- UnitPriceDiscount: decimal(19,4) (nullable = true)
 |-- LineTotal: decimal(38,6) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesOrderHeader is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- RevisionNumber: integer (nullable = true)
 |-- OrderDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ShipDate: timestamp (nullable = true)
 |-- Status: integer (nullable = true)
 |-- OnlineOrderFlag: boolean (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- PurchaseOrderNumber: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- BillToAddressID: integer (nullable = true)
 |-- ShipToAddressID: integer (nullable = true)
 |-- ShipMethodID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- CreditCardApprovalCode: string (nullable = true)
 |-- CurrencyRateID: integer (nullable = true)
 |-- SubTotal: decimal(19,4) (nullable = true)
 |-- TaxAmt: decimal(19,4) (nullable = true)
 |-- Freight: decimal(19,4) (nullable = true)
 |-- TotalDue: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesOrderHeaderSalesReason is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesReasonID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesPerson is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- SalesQuota: decimal(23,8) (nullable = true)
 |-- Bonus: decimal(19,4) (nullable = true)
 |-- CommissionPct: decimal(10,4) (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesPersonQuotaHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- QuotaDate: timestamp (nullable = true)
 |-- SalesQuota: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesReason is :
root
 |-- SalesReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ReasonType: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesTaxRate is :
root
 |-- SalesTaxRateID: integer (nullable = true)
 |-- StateProvinceID: integer (nullable = true)
 |-- TaxType: integer (nullable = true)
 |-- TaxRate: decimal(10,4) (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesTerritory is :
root
 |-- TerritoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CountryRegionCode: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- CostYTD: decimal(19,4) (nullable = true)
 |-- CostLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SalesTerritoryHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_ShoppingCartItem is :
root
 |-- ShoppingCartItemID: integer (nullable = true)
 |-- ShoppingCartID: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- DateCreated: timestamp (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SpecialOffer is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- DiscountPct: decimal(10,4) (nullable = true)
 |-- Type: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- MinQty: integer (nullable = true)
 |-- MaxQty: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_SpecialOfferProduct is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


The Schema of the table df_Store is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- Demographics: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined

In [0]:
# Transforming the date columns to date format
from pyspark.sql.functions import to_date

for file in df.keys():
    print("\n",file," in Original Schema")
    print_schema(df[file],file)
    for col in df[file].dtypes:
        col_name = col[0]
        col_type = col[1]
        if 'date' in col_name or 'Date' in col_name:
            df[file] = df[file].withColumn(col_name, to_date(col_name, 'MM/dd/yyyy'))

    print("\n",file," in transformed Schema")
    print_schema(df[file],file)

 df_CountryRegionCurrency  in Original Schema

The Schema of the table df_CountryRegionCurrency is :
root
 |-- CountryRegionCode: string (nullable = true)
 |-- CurrencyCode: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_CountryRegionCurrency  in transformed Schema

The Schema of the table df_CountryRegionCurrency is :
root
 |-- CountryRegionCode: string (nullable = true)
 |-- CurrencyCode: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_CreditCard  in Original Schema

The Schema of the table df_CreditCard is :
root
 |-- CreditCardID: integer (nullable = true)
 |-- CardType: string (nullable = true)
 |-- CardNumber: string (nullable = true)
 |-- ExpMonth: integer (nullable = true)
 |-- ExpYear: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_CreditCard  in transformed Schema

The Schema of the table df_CreditCard is :
root
 |-- CreditCardID: integer (nullable = true)
 |-- CardType: string (nullable = true)
 |-- CardNumber: string (nullable = true)
 |-- ExpMonth: integer (nullable = true)
 |-- ExpYear: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Currency  in Original Schema

The Schema of the table df_Currency is :
root
 |-- CurrencyCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Currency  in transformed Schema

The Schema of the table df_Currency is :
root
 |-- CurrencyCode: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_CurrencyRate  in Original Schema

The Schema of the table df_CurrencyRate is :
root
 |-- CurrencyRateID: integer (nullable = true)
 |-- CurrencyRateDate: timestamp (nullable = true)
 |-- FromCurrencyCode: string (nullable = true)
 |-- ToCurrencyCode: string (nullable = true)
 |-- AverageRate: decimal(19,4) (nullable = true)
 |-- EndOfDayRate: decimal(19,4) (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_CurrencyRate  in transformed Schema

The Schema of the table df_CurrencyRate is :
root
 |-- CurrencyRateID: integer (nullable = true)
 |-- CurrencyRateDate: date (nullable = true)
 |-- FromCurrencyCode: string (nullable = true)
 |-- ToCurrencyCode: string (nullable = true)
 |-- AverageRate: decimal(19,4) (nullable = true)
 |-- EndOfDayRate: decimal(19,4) (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Customer  in Original Schema

The Schema of the table df_Customer is :
root
 |-- CustomerID: integer (nullable = true)
 |-- PersonID: integer (nullable = true)
 |-- StoreID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Customer  in transformed Schema

The Schema of the table df_Customer is :
root
 |-- CustomerID: integer (nullable = true)
 |-- PersonID: integer (nullable = true)
 |-- StoreID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_PersonCreditCard  in Original Schema

The Schema of the table df_PersonCreditCard is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_PersonCreditCard  in transformed Schema

The Schema of the table df_PersonCreditCard is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesOrderDetail  in Original Schema

The Schema of the table df_SalesOrderDetail is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesOrderDetailID: integer (nullable = true)
 |-- CarrierTrackingNumber: string (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- SpecialOfferID: integer (nullable = true)
 |-- UnitPrice: decimal(19,4) (nullable = true)
 |-- UnitPriceDiscount: decimal(19,4) (nullable = true)
 |-- LineTotal: decimal(38,6) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesOrderDetail  in transformed Schema

The Schema of the table df_SalesOrderDetail is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesOrderDetailID: integer (nullable = true)
 |-- CarrierTrackingNumber: string (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- SpecialOfferID: integer (nullable = true)
 |-- UnitPrice: decimal(19,4) (nullable = true)
 |-- UnitPriceDiscount: decimal(19,4) (nullable = true)
 |-- LineTotal: decimal(38,6) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesOrderHeader  in Original Schema

The Schema of the table df_SalesOrderHeader is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- RevisionNumber: integer (nullable = true)
 |-- OrderDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ShipDate: timestamp (nullable = true)
 |-- Status: integer (nullable = true)
 |-- OnlineOrderFlag: boolean (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- PurchaseOrderNumber: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- BillToAddressID: integer (nullable = true)
 |-- ShipToAddressID: integer (nullable = true)
 |-- ShipMethodID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- CreditCardApprovalCode: string (nullable = true)
 |-- CurrencyRateID: integer (nullable = true)
 |-- SubTotal: decimal(19,4) (nullable = true)
 |-- TaxAmt: decimal(19,4) (nullable = true)
 |-- Freight: decimal(19,4) (nullable = true)
 |-- TotalDue: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesOrderHeader  in transformed Schema

The Schema of the table df_SalesOrderHeader is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- RevisionNumber: integer (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DueDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- Status: integer (nullable = true)
 |-- OnlineOrderFlag: boolean (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- PurchaseOrderNumber: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- BillToAddressID: integer (nullable = true)
 |-- ShipToAddressID: integer (nullable = true)
 |-- ShipMethodID: integer (nullable = true)
 |-- CreditCardID: integer (nullable = true)
 |-- CreditCardApprovalCode: string (nullable = true)
 |-- CurrencyRateID: integer (nullable = true)
 |-- SubTotal: decimal(19,4) (nullable = true)
 |-- TaxAmt: decimal(19,4) (nullable = true)
 |-- Freight: decimal(19,4) (nullable = true)
 |-- TotalDue: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesOrderHeaderSalesReason  in Original Schema

The Schema of the table df_SalesOrderHeaderSalesReason is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesReasonID: integer (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesOrderHeaderSalesReason  in transformed Schema

The Schema of the table df_SalesOrderHeaderSalesReason is :
root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesReasonID: integer (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesPerson  in Original Schema

The Schema of the table df_SalesPerson is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- SalesQuota: decimal(23,8) (nullable = true)
 |-- Bonus: decimal(19,4) (nullable = true)
 |-- CommissionPct: decimal(10,4) (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesPerson  in transformed Schema

The Schema of the table df_SalesPerson is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- SalesQuota: decimal(23,8) (nullable = true)
 |-- Bonus: decimal(19,4) (nullable = true)
 |-- CommissionPct: decimal(10,4) (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesPersonQuotaHistory  in Original Schema

The Schema of the table df_SalesPersonQuotaHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- QuotaDate: timestamp (nullable = true)
 |-- SalesQuota: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesPersonQuotaHistory  in transformed Schema

The Schema of the table df_SalesPersonQuotaHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- QuotaDate: date (nullable = true)
 |-- SalesQuota: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesReason  in Original Schema

The Schema of the table df_SalesReason is :
root
 |-- SalesReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ReasonType: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesReason  in transformed Schema

The Schema of the table df_SalesReason is :
root
 |-- SalesReasonID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- ReasonType: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesTaxRate  in Original Schema

The Schema of the table df_SalesTaxRate is :
root
 |-- SalesTaxRateID: integer (nullable = true)
 |-- StateProvinceID: integer (nullable = true)
 |-- TaxType: integer (nullable = true)
 |-- TaxRate: decimal(10,4) (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesTaxRate  in transformed Schema

The Schema of the table df_SalesTaxRate is :
root
 |-- SalesTaxRateID: integer (nullable = true)
 |-- StateProvinceID: integer (nullable = true)
 |-- TaxType: integer (nullable = true)
 |-- TaxRate: decimal(10,4) (nullable = true)
 |-- Name: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesTerritory  in Original Schema

The Schema of the table df_SalesTerritory is :
root
 |-- TerritoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CountryRegionCode: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- CostYTD: decimal(19,4) (nullable = true)
 |-- CostLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesTerritory  in transformed Schema

The Schema of the table df_SalesTerritory is :
root
 |-- TerritoryID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- CountryRegionCode: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- SalesYTD: decimal(19,4) (nullable = true)
 |-- SalesLastYear: decimal(19,4) (nullable = true)
 |-- CostYTD: decimal(19,4) (nullable = true)
 |-- CostLastYear: decimal(19,4) (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SalesTerritoryHistory  in Original Schema

The Schema of the table df_SalesTerritoryHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SalesTerritoryHistory  in transformed Schema

The Schema of the table df_SalesTerritoryHistory is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- TerritoryID: integer (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_ShoppingCartItem  in Original Schema

The Schema of the table df_ShoppingCartItem is :
root
 |-- ShoppingCartItemID: integer (nullable = true)
 |-- ShoppingCartID: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- DateCreated: timestamp (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_ShoppingCartItem  in transformed Schema

The Schema of the table df_ShoppingCartItem is :
root
 |-- ShoppingCartItemID: integer (nullable = true)
 |-- ShoppingCartID: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- DateCreated: date (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SpecialOffer  in Original Schema

The Schema of the table df_SpecialOffer is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- DiscountPct: decimal(10,4) (nullable = true)
 |-- Type: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- MinQty: integer (nullable = true)
 |-- MaxQty: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SpecialOffer  in transformed Schema

The Schema of the table df_SpecialOffer is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- DiscountPct: decimal(10,4) (nullable = true)
 |-- Type: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)
 |-- MinQty: integer (nullable = true)
 |-- MaxQty: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_SpecialOfferProduct  in Original Schema

The Schema of the table df_SpecialOfferProduct is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_SpecialOfferProduct  in transformed Schema

The Schema of the table df_SpecialOfferProduct is :
root
 |-- SpecialOfferID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)


 df_Store  in Original Schema

The Schema of the table df_Store is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- Demographics: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)


 df_Store  in transformed Schema

The Schema of the table df_Store is :
root
 |-- BusinessEntityID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- Demographics: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: date (nullable = true)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined

In [0]:
# Displaying the data of each tables to identify the timestamp column changed to dates
for file in df.keys():
    df[file].show(5)

+-----------------+------------+------------+
|CountryRegionCode|CurrencyCode|ModifiedDate|
+-----------------+------------+------------+
|               AE|         AED|  2014-02-08|
|               AR|         ARS|  2014-02-08|
|               AT|         ATS|  2014-02-08|
|               AT|         EUR|  2008-04-30|
|               AU|         AUD|  2014-02-08|
+-----------------+------------+------------+
only showing top 5 rows

+------------+-------------+--------------+--------+-------+------------+
|CreditCardID|     CardType|    CardNumber|ExpMonth|ExpYear|ModifiedDate|
+------------+-------------+--------------+--------+-------+------------+
|           1| SuperiorCard|33332664695310|      11|   2006|  2013-07-29|
|           2|  Distinguish|55552127249722|       8|   2005|  2013-12-05|
|           3|ColonialVoice|77778344838353|       7|   2005|  2014-01-14|
|           4|ColonialVoice|77774915718248|       7|   2006|  2013-05-20|
|           5|        Vista|11114404600042|       4|   2005|  2013-02-01|
+------------+-------------+--------------+--------+-------+------------+
only showing top 5 rows

+------------+--------------------+------------+
|CurrencyCode|                Name|ModifiedDate|
+------------+--------------------+------------+
|         AED|      Emirati Dirham|  2008-04-30|
|         AFA|             Afghani|  2008-04-30|
|         ALL|                 Lek|  2008-04-30|
|         AMD|       Armenian Dram|  2008-04-30|
|         ANG|Netherlands Antil...|  2008-04-30|
+------------+--------------------+------------+
only showing top 5 rows

+--------------+----------------+----------------+--------------+-----------+------------+------------+
|CurrencyRateID|CurrencyRateDate|FromCurrencyCode|ToCurrencyCode|AverageRate|EndOfDayRate|ModifiedDate|
+--------------+----------------+----------------+--------------+-----------+------------+------------+
|             1|      2011-05-31|             USD|           ARS|     1.0000|      1.0002|  2011-05-31|
|             2|      2011-05-31|             USD|           AUD|     1.5491|      1.5500|  2011-05-31|
|             3|      2011-05-31|             USD|           BRL|     1.9379|      1.9419|  2011-05-31|
|             4|      2011-05-31|             USD|           CAD|     1.4641|      1.4683|  2011-05-31|
|             5|      2011-05-31|             USD|           CNY|     8.2781|      8.2784|  2011-05-31|
+--------------+----------------+----------------+--------------+-----------+------------+------------+
only showing top 5 rows

+----------+--------+-------+-----------+-------------+--------------------+------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+------------+
|         1|       0|    934|          1|   AW00000001|3f5ae95e-b87d-4ae...|  2014-09-12|
|         2|       0|   1028|          1|   AW00000002|e552f657-a9af-4a7...|  2014-09-12|
|         3|       0|    642|          4|   AW00000003|130774b1-db21-4ef...|  2014-09-12|
|         4|       0|    932|          4|   AW00000004|ff862851-1daa-404...|  2014-09-12|
|         5|       0|   1026|          4|   AW00000005|83905bdc-6f5e-4f7...|  2014-09-12|
+----------+--------+-------+-----------+-------------+--------------------+------------+
only showing top 5 rows

+----------------+------------+------------+
|BusinessEntityID|CreditCardID|ModifiedDate|
+----------------+------------+------------+
|             293|       17038|  2013-07-31|
|             295|       15369|  2011-08-01|
|             297|        8010|  2011-08-01|
|             299|        5316|  2013-07-31|
|             301|        6653|  2011-05-31|
+----------------+------------+------------+
only showing top 5 rows

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|2024.9940|           0.0000|2024.994000|b207c96d-d9e6-402...|  2011-05-31|
|       43659|                 2|         4911-403C-98|       3|      777|             1|2024.9940|           0.0000|6074.982000|7abb600d-1e77-41b...|  2011-05-31|
|       43659|                 3|         4911-403C-98|       1|      778|             1|2024.9940|           0.0000|2024.994000|475cf8c6-49f6-486...|  2011-05-31|
|       43659|                 4|         4911-403C-98|       1|      771|             1|2039.9940|           0.0000|2039.994000|04c4de91-5815-45d...|  2011-05-31|
|       43659|                 5|         4911-403C-98|       1|      772|             1|2039.9940|           0.0000|2039.994000|5a74c7d2-e641-438...|  2011-05-31|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+------------+
only showing top 5 rows

+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
|SalesOrderID|RevisionNumber| OrderDate|   DueDate|  ShipDate|Status|OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|CustomerID|SalesPersonID|TerritoryID|BillToAddressID|ShipToAddressID|ShipMethodID|CreditCardID|CreditCardApprovalCode|CurrencyRateID|  SubTotal|   TaxAmt| Freight|  TotalDue|             rowguid|ModifiedDate|
+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
|       43659|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43659|        PO522145787|10-4020-000676|     29825|          279|          5|            985|            985|           5|       16281|         105041Vi84182|             0|20565.6206|1971.5149|616.0984|23153.2339|79b65321-39ca-411...|  2011-06-07|
|       43660|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43660|      PO18850127500|10-4020-000117|     29672|          279|          5|            921|            921|           5|        5618|         115213Vi29411|             0| 1294.2529| 124.2483| 38.8276| 1457.3288|738dc42d-d03b-48a...|  2011-06-07|
|       43661|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43661|      PO18473189620|10-4020-000442|     29734|          282|          6|            517|            517|           5|        1346|           85274Vi6854|             4|32726.4786|3153.7696|985.5530|36865.8012|d91b9131-18a4-4a1...|  2011-06-07|
|       43662|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43662|      PO18444174044|10-4020-000227|     29994|          282|          6|            482|            482|           5|       10456|         125295Vi53935|             4|28832.5289|2775.1646|867.2389|32474.9324|4a1ecfc0-cc3a-474...|  2011-06-07|
|       43663|             8|2011-05-31|2011-06-12|2011-06-07|     5|          false|         SO43663|      PO18009186470|10-4020-000510|     29565|          276|          4|           1073|           1073|           5|        4322|          45303Vi22691|             0|  419.4589|  40.2681| 12.5838|  472.3108|9b1e7a40-6ae0-4ad...|  2011-06-07|
+------------+--------------+----------+----------+----------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+--------------------+------------+
only showing top 5 rows

+------------+-------------+------------+
|SalesOrderID|SalesReasonID|ModifiedDate|
+------------+-------------+------------+
|       43697|            5|  2011-05-31|
|       43697|            9|  2011-05-31|
|       43702|            5|  2011-06-01|
|       43702|            9|  2011-06-01|
|       43703|            5|  2011-06-01|
+------------+-------------+------------+
only showing top 5 rows

+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
|BusinessEntityID|TerritoryID|     SalesQuota|    Bonus|CommissionPct|    SalesYTD|SalesLastYear|             rowguid|ModifiedDate|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
|             274|          0|260714.28571429|   0.0000|       0.0000| 559697.5639|       0.0000|48754992-9ee0-4c0...|  2010-12-28|
|             275|          2|300000.00000000|4100.0000|       0.0120|3763178.1787| 1750406.4785|1e0a7274-3064-4f5...|  2011-05-24|
|             276|          4|250000.00000000|2000.0000|       0.0150|4251368.5497| 1439156.0291|4dd9eee4-8e81-4f8...|  2011-05-24|
|             277|          3|250000.00000000|2500.0000|       0.0150|3189418.3662| 1997186.2037|39012928-bfec-424...|  2011-05-24|
|             278|          6|250000.00000000| 500.0000|       0.0100|1453719.4653| 1620276.8966|7a0ae1ab-b283-40f...|  2011-05-24|
+----------------+-----------+---------------+---------+-------------+------------+-------------+--------------------+------------+
only showing top 5 rows

+----------------+----------+-----------+--------------------+------------+
|BusinessEntityID| QuotaDate| SalesQuota|             rowguid|ModifiedDate|
+----------------+----------+-----------+--------------------+------------+
|             274|2011-05-31| 28000.0000|99109bbf-8693-458...|  2011-04-16|
|             274|2011-08-31|  7000.0000|dfd01444-8900-461...|  2011-07-17|
|             274|2011-12-01| 91000.0000|0a69f453-9689-4cc...|  2011-10-17|
|             274|2012-02-29|140000.0000|da8d1458-5fb9-4c3...|  2012-01-15|
|             274|2012-05-30| 70000.0000|760cef84-b980-417...|  2012-04-15|
+----------------+----------+-----------+--------------------+------------+
only showing top 5 rows

+-------------+--------------------+----------+------------+
|SalesReasonID|                Name|ReasonType|ModifiedDate|
+-------------+--------------------+----------+------------+
|            1|               Price|     Other|  2008-04-30|
|            2|        On Promotion| Promotion|  2008-04-30|
|            3|Magazine Advertis...| Marketing|  2008-04-30|
|            4|Television  Adver...| Marketing|  2008-04-30|
|            5|        Manufacturer|     Other|  2008-04-30|
+-------------+--------------------+----------+------------+
only showing top 5 rows

+--------------+---------------+-------+-------+--------------------+--------------------+------------+
|SalesTaxRateID|StateProvinceID|TaxType|TaxRate|                Name|             rowguid|ModifiedDate|
+--------------+---------------+-------+-------+--------------------+--------------------+------------+
|             1|              1|      1|14.0000|Canadian GST + Al...|683de5dd-521a-47d...|  2008-04-30|
|             2|             57|      1|14.2500|Canadian GST + On...|05c4ffdb-4f84-4cd...|  2008-04-30|
|             3|             63|      1|14.2500|Canadian GST + Qu...|d4edb557-56d7-403...|  2008-04-30|
|             4|              1|      2| 7.0000|        Canadian GST|f0d76907-b433-453...|  2008-04-30|
|             5|             57|      2| 7.0000|        Canadian GST|7e0e97a2-878b-476...|  2008-04-30|
+--------------+---------------+-------+-------+--------------------+--------------------+------------+
only showing top 5 rows

+-----------+---------+-----------------+-------------+-------------+-------------+-------+------------+--------------------+------------+
|TerritoryID|     Name|CountryRegionCode|        Group|     SalesYTD|SalesLastYear|CostYTD|CostLastYear|             rowguid|ModifiedDate|
+-----------+---------+-----------------+-------------+-------------+-------------+-------+------------+--------------------+------------+
|          1|Northwest|               US|North America| 7887186.7882| 3298694.4938| 0.0000|      0.0000|43689a10-e30b-497...|  2008-04-30|
|          2|Northeast|               US|North America| 2402176.8476| 3607148.9371| 0.0000|      0.0000|00fb7309-96cc-49e...|  2008-04-30|
|          3|  Central|               US|North America| 3072175.1180| 3205014.0767| 0.0000|      0.0000|df6e7fd8-1a8d-468...|  2008-04-30|
|          4|Southwest|               US|North America|10510853.8739| 5366575.7098| 0.0000|      0.0000|dc3e9ea0-7950-443...|  2008-04-30|
|          5|Southeast|               US|North America| 2538667.2515| 3925071.4318| 0.0000|      0.0000|6dc4165a-5e4c-42d...|  2008-04-30|
+-----------+---------+-----------------+-------------+-------------+-------------+-------+------------+--------------------+------------+
only showing top 5 rows

+----------------+-----------+----------+----------+--------------------+------------+
|BusinessEntityID|TerritoryID| StartDate|   EndDate|             rowguid|ModifiedDate|
+----------------+-----------+----------+----------+--------------------+------------+
|             275|          2|2011-05-31|2012-11-29|8563ce6a-00ff-47d...|  2012-11-22|
|             275|          3|2012-11-30|2013-11-30|2f44304c-ee87-4c7...|  2012-11-23|
|             276|          4|2011-05-31|2012-05-30|64bcb1b3-a793-40b...|  2011-05-24|
|             277|          3|2011-05-31|2012-11-29|3e9f893d-5142-46c...|  2012-11-22|
|             277|          2|2012-11-30|2013-11-30|132e4721-32dd-4a7...|  2012-11-23|
+----------------+-----------+----------+----------+--------------------+------------+
only showing top 5 rows

+------------------+--------------+--------+---------+-----------+------------+
|ShoppingCartItemID|ShoppingCartID|Quantity|ProductID|DateCreated|ModifiedDate|
+------------------+--------------+--------+---------+-----------+------------+
|                 2|         14951|       3|      862| 2013-11-09|  2013-11-09|
|                 4|         20621|       4|      881| 2013-11-09|  2013-11-09|
|                 5|         20621|       7|      874| 2013-11-09|  2013-11-09|
+------------------+--------------+--------+---------+-----------+------------+

+--------------+--------------------+-----------+---------------+-----------+----------+----------+------+------+--------------------+------------+
|SpecialOfferID|         Description|DiscountPct|           Type|   Category| StartDate|   EndDate|MinQty|MaxQty|             rowguid|ModifiedDate|
+--------------+--------------------+-----------+---------------+-----------+----------+----------+------+------+--------------------+------------+
|             1|         No Discount|     0.0000|    No Discount|No Discount|2011-05-01|2014-11-30|     0|     0|0290c4f5-191f-433...|  2011-04-01|
|             2|Volume Discount 1...|     0.0200|Volume Discount|   Reseller|2011-05-31|2014-05-30|    11|    14|d7542ee7-15db-454...|  2011-05-01|
|             3|Volume Discount 1...|     0.0500|Volume Discount|   Reseller|2011-05-31|2014-05-30|    15|    24|4bdbcc01-8cf7-40a...|  2011-05-01|
|             4|Volume Discount 2...|     0.1000|Volume Discount|   Reseller|2011-05-31|2014-05-30|    25|    40|504b5e85-8f3f-4eb...|  2011-05-01|
|             5|Volume Discount 4...|     0.1500|Volume Discount|   Reseller|2011-05-31|2014-05-30|    41|    60|677e1d9d-944f-4e8...|  2011-05-01|
+--------------+--------------------+-----------+---------------+-----------+----------+----------+------+------+--------------------+------------+
only showing top 5 rows

+--------------+---------+--------------------+------------+
|SpecialOfferID|ProductID|             rowguid|ModifiedDate|
+--------------+---------+--------------------+------------+
|             1|      680|bb30b868-d86c-455...|  2011-04-01|
|             1|      706|b3c9a4b1-2ae6-4cb...|  2011-04-01|
|             1|      707|27b711fe-0b77-4ea...|  2011-04-01|
|             1|      708|46cbb78b-246e-4d6...|  2011-04-01|
|             1|      709|cf102aa0-055f-4d2...|  2011-04-01|
+--------------+---------+--------------------+------------+
only showing top 5 rows

+----------------+--------------------+-------------+--------------------+--------------------+------------+
|BusinessEntityID|                Name|SalesPersonID|        Demographics|             rowguid|ModifiedDate|
+----------------+--------------------+-------------+--------------------+--------------------+------------+
|             292|Next-Door Bike Store|          279|<StoreSurvey xmln...|a22517e3-848d-4eb...|  2014-09-12|
|             294|Professional Sale...|          276|<StoreSurvey xmln...|b50ca50b-c601-4a1...|  2014-09-12|
|             296|      Riders Company|          277|<StoreSurvey xmln...|337c3688-1339-4e1...|  2014-09-12|
|             298|  The Bike Mechanics|          275|<StoreSurvey xmln...|7894f278-f0c8-4d1...|  2014-09-12|
|             300|   Nationwide Supply|          286|<StoreSurvey xmln...|c3fc9705-a8c4-4f3...|  2014-09-12|
+----------------+--------------------+-------------+--------------------+--------------------+------------+
only showing top 5 rows

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined

## Writing the cleanedup data to silver layer

In [0]:
# Writing the cleanedup data to silver layer. 

silver_base_path = 'abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/'
bronze_base_path = 'abfss://bronze@dmgproductionadls2.dfs.core.windows.net/Sales/'

for file in df.keys():
    folder_path = f"{silver_base_path}{file}/"
    df[file].write.mode("overwrite").parquet(folder_path)
    print(f"✅ File saved successfully: {folder_path}")

abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CountryRegionCurrency/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CountryRegionCurrency/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CreditCard/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CreditCard/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Currency/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Currency/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CurrencyRate/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_CurrencyRate/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Customer/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Customer/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_PersonCreditCard/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_PersonCreditCard/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderDetail/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderDetail/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderHeader/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderHeader/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderHeaderSalesReason/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesOrderHeaderSalesReason/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesPerson/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesPerson/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesPersonQuotaHistory/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesPersonQuotaHistory/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesReason/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesReason/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTaxRate/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTaxRate/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTerritory/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTerritory/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTerritoryHistory/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SalesTerritoryHistory/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_ShoppingCartItem/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_ShoppingCartItem/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SpecialOffer/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SpecialOffer/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SpecialOfferProduct/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_SpecialOfferProduct/
abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Store/
✅ File saved successfully: abfss://silver@dmgproductionadls2.dfs.core.windows.net/Sales/df_Store/

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-8875516628818281>, line 32
     29 df['df_SpecialOffer'].show(10)
     31 check_nulls(df['df_SpecialOffer'],'df_SpecialOffer')
---> 32 dilip

NameError: name 'dilip' is not defined